/* DIRECTIONAL NAV
 ================================================== */

.sangar-slideshow-container > .default {
  div > span {
    &.sangar-arrow-right {
      background: url("images/right-arrow.png");
      right: 0px;
    }
    &.sangar-arrow-left {
      background: url("images/left-arrow.png");
      left: 0px;
    }
    &.sangar-arrow-down {
      background: url("images/down-arrow.png");
      bottom: 10px;
    }
    &.sangar-arrow-up {
      background: url("images/up-arrow.png");
      top: 10px;
    }
  }
  ul {
    &.sangar-pagination-bullet > li {
      float: left;
      margin-left: 10px;
      cursor: pointer;
      color: #BBBBBB;
      width: 18px;
      height: 18px;
      overflow: hidden;
      padding: 0px;
      -webkit-border-radius: 90px;
      -moz-border-radius: 90px;
      border-radius: 90px;
      background-color: #4C4C4C;
      &.sangar-pagination-active {
        color: #616161;
        background-color: #D3D3D3;
        margin-left: auto;
        margin-right: auto;
        margin-left: 10px;
        border: 5px solid #4C4C4C;
        width: 8px;
        height: 8px;
      }
    }
    &.sangar-pagination-content-horizontal > li {
      padding: 15px 0;
      text-align: center;
      color: #FFF;
      &.sangar-pagination-active {
        background-color: #A64E48;
      }
    }
    &.sangar-pagination-type-image > li.sangar-pagination-active {
      background: none;
      > img {
        border: 2px solid white;
        margin: -2px;
      }
    }
    &.sangar-pagination-content-horizontal > li:hover {
      background-color: #A64E48;
    }
    &.sangar-pagination-type-image > li:hover {
      background: none;
    }
    &.sangar-pagination-content-vertical > li {
      padding: 15px 0;
      text-align: center;
      color: #FFF;
    }
    &.sangar-pagination-type-image > li {
      padding: 5px 0;
    }
    &.sangar-pagination-content-vertical > li.sangar-pagination-active {
      background-color: #A64E48;
    }
    &.sangar-pagination-type-image > li.sangar-pagination-active {
      background: none;
      > img {
        border: 2px solid white;
        margin: -2px;
      }
    }
    &.sangar-pagination-content-vertical > li:hover {
      background-color: #A64E48;
    }
    &.sangar-pagination-type-image > li:hover {
      background: none;
    }
  }
}

/* PAGINATION NAV
 ================================================== */

/**
 * sangar-pagination-content-horizontal 
 */

/** 
 * sangar-pagination-content-vertical 
 */

.sangar-textbox-content p {
  font-size: 1em;
}

@media only screen and (min-width: 64.0625em) {
  .sangar-textbox-content p {
    font-size: 3.25em;
  }
}

@media only screen and (min-width: 40.0625em) {
  .sangar-textbox-content p {
    font-size: 2.28em;
  }
}