<section>
    <div class="row">
        <div class="small-12 columns">
            <ul class="topic-list">
                <li class="topic-list__item">Regional 议题</li>
            </ul>
            <h1 class="article__headline">中国惊艳全球科学界的五大超级工程</h1>
            <div class="article__lead-image">
                <figure class="st__content-block st__content-block--image">
                    <img alt="从亚原子粒子到火星观测，中国正逐渐成为世界科学研究领域的新领军者。" src="./build/imgs/upload/large__1OdK_McqnkTwaboFkI8HStpelz2K344mXA4WtwhZHM.png" />
                    <div class="image__credit">
                        Image: 路透社 Jason Lee
                    </div>
                </figure>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 medium-4 columns">
            <div class="article-details--small">
                <p>Friday 29 July 2016</p>
            </div>
            <div class="article-details--large">
                <div class="article-details__meta">
                    <div class="article-details__header">
                        已发布
                    </div>
                    <div>
                        Friday 29 July 2016
                    </div>
                </div>
                <div class="article-details__meta">
                    <div class="article-details__header">
                        分享
                    </div>
                    <div>
                        <a href="" class="social-share--weibo js-social-share" target="_blank"></a>
                        <a href="" class="social-share--linkedin js-social-share" target="_blank"></a>
                    </div>
                </div>
            </div>
            <div class="further-reading-group">
                <div class="list-group__header">
                    <div class="further-reading__header-title">
                        最新文章
                    </div>
                </div>
                <div class="row collapse">
                    <article class="tout tout--mini tout--article">
                        <a class="tout__link" href="">
                            <figure class="placeholder tiny">
                                <img class="image" alt="" src="./build/imgs/upload/tiny_45AmZZ8RSbjiXet1VO2Q3a2PJbCRepdIp_NOBm815jc.jpeg" />
                                <img class="tiny-fallback" src="./build/imgs/upload/tiny_45AmZZ8RSbjiXet1VO2Q3a2PJbCRepdIp_NOBm815jc.jpeg" alt="Tiny" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">它竟然是世界上最环保、最幸福的国家！</h3>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__author bold">Anna Bruce-Lockhart</span>
                                        <span>17 Aug 2016</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--mini tout--article">
                        <a class="tout__link" href="">
                            <figure class="placeholder tiny">
                                <img class="image" alt="" src="./build/imgs/upload/tiny_UNAZ-oKq9Vvd-zcaRuQj16JwIKgLyFdgq-APcuI5zoM.png" />
                                <img class="tiny-fallback" src="./build/imgs/upload/tiny_UNAZ-oKq9Vvd-zcaRuQj16JwIKgLyFdgq-APcuI5zoM.png" alt="Tiny unaz" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">现在才八月，可我们已经把今年的自然资源都用完了！</h3>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__author bold">Joe Myers</span>
                                        <span>17 Aug 2016</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--mini tout--article">
                        <a class="tout__link" href="">
                            <figure class="placeholder tiny">
                                <img class="image" alt="" src="./build/imgs/upload/tiny__mXCeQqgPmmTFWA7oYDW0ODWrDtcdIH4jNVxcLahs9Q.jpg" />
                                <img class="tiny-fallback" src="./build/imgs/upload/tiny__mXCeQqgPmmTFWA7oYDW0ODWrDtcdIH4jNVxcLahs9Q.jpg" alt="Tiny " />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">全球化使我们的经济更容易受到气候变化的影响</h3>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__author bold">Leonie Wenz</span>
                                        <span>16 Aug 2016</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <div class="further-reading__more">
                        <a href="/agenda/archive">
                            <span class="further-reading__more-link">了解更多议题</span>
                            <span class="further-reading__more-arrow">
                                    <img src="./build/imgs/further-reading-arrow-984f0b2d46101716e9c621b9fc9e0192e3e5be4e69b301ddf6e866ef4108d8db.svg" alt="Further" /> 
                                </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="article-show-container">
            <div class="article-body">
                <div class="st__content-block st__content-block--text">
                    <p>如今中国的经济增速已经令全世界惊叹不已，政治和军事实力也得以日渐增强。然而在另外一些鲜有关注的领域，中国也正在成为全球范围内的领导者。
                        中国的科学研究体量如今已经十分庞大。而在全国人大在今年早些时候启动
                        <a href="http://www.bbc.co.uk/news/world-asia-china-35818730">第十三个五年计划（“十三五”）</a>之后，
                        中国的科研事业<a href="">将被纳入</a>未来的国家优先发展战略。中国政府意在2020年，使国内科研经费占GDP的比重从过去五年的低于2.2%，
                        <a href="">升至2.5%</a>。</p>
                </div>
                <div class="st__content-block st__content-block--text">
                    <p>而在诸多的项目中，这五大工程最为世人瞩目。</p>
                </div>
                <div class="st__content-block st__content-block--text">
                    <p><b>巨型望远镜</b></p>
                </div>
                <div class="st__content-block st__content-block--text">
                    <p>只有具备雄厚科技实力的国家，才有能力建设巨型天文望远镜。位于中国贵州省的500米口径球面射电望远镜
                        （Five hundred meter Aperture Spherical Telescope，简称FAST）利用当地喀斯特洼地地势建造，面积占地超过30个足球场。</p>
                </div>
                <div class="st__content-block st__content-block--text">
                    <p>FAST的直径达到了500米，这一数字要远大于全球第二大射电望远镜，波多黎各阿雷西博天文台的305米直径。</p>
                </div>

            </div>
            <div class="post-article">
                <div class="post-article__share">
                    分享
                </div>
                <div>
                    <a href="" class="social-share--weibo js-social-share" target="_blank"></a>
                    <a href="" class="social-share--linkedin js-social-share" target="_blank"></a>
                </div>
                <div class="article-source">
                </div>
            </div>
            <div class="post-article">
                <div class="newsletter">
                    <div class="newsletter__callout">
                        <b>订阅最新动态</b>
                        <div class="newsletter__callout__description">
                            全球议题一周更新
                        </div>
                    </div>
                    <form action="" method="post" target="_blank" class="newsletter__form">
                        <div class="newsletter__form__field">
                            <input type="email" name="EMAIL" placeholder="电子邮箱" class="newsletter__form__input" />
                            <input type="submit" value="订阅" name="subscribe" class="newsletter__form__submit" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>