<section>
    <div class="agenda-home">
        <header class="articles-header">
            <div class="row">
                <div class="columns">
                    <h1 class="agenda-title"><span>议题</span></h1>
                    <p class="articles-description">制定全球,地区和行业议题的文章</p>
                </div>
            </div>
        </header>

        <div class="row">
            <section class="columns">
                <h2 class="sub-title">全球议题</h2>
                <div class="tout-list global-agenda">
                    <article class="tout tout--large tout--article">
                        <a class="tout__link" href="/agenda/2016/08/26dfe3af-6a38-4eb2-b72c-2960f195a8ab">
                            <figure class="placeholder small"><img class="image" alt="" src="./build/imgs/upload/small_45AmZZ8RSbjiXet1VO2Q3a2PJbCRepdIp_NOBm815jc.jpeg" /><img class="tiny-fallback" src="./build/imgs/upload/tiny_45AmZZ8RSbjiXet1VO2Q3a2PJbCRepdIp_NOBm815jc.jpeg"
                                    alt="Tiny" /></figure>
                            <div class="tout__details">
                                <div class="tout__topic caption"></div>
                                <h3 class="tout__title">它竟然是世界上最环保、最幸福的国家！</h3>
                                <p class="tout__description">人类在地球上的生活是否越来越好了呢？当谈及民族进步，你如何寻找并衡量最关键因素？财富、健康、以及最基本的人类自由，这类评判标准在国际排行榜中经常出现，如美好生活指数、经济可持续发展评估和全球幸福指数报告等。 但一项新研究却另辟蹊径。其2016年发布的快乐星球指数（HPI），将原本分立的健康指数和幸福指数综合计算，并增添了一项新的黄金指标，该指标在成功道路上至关重要：可持续性。 该公式的计算方式如下：将幸福指数和人均寿命相乘，再计算这两项指标的分布均衡程度，然后将得数除以各国家的生态足迹。</p>
                                <div class="tout__meta">
                                    <div class="caption"><span class="article__author bold">Anna Bruce-Lockhart</span> <span>17 Aug 2016</span></div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--large tout--article">
                        <a class="tout__link" href="/agenda/2016/08/386c03df-5de0-4fe4-8efe-ef381b76a42a">
                            <figure class="placeholder small"><img class="image" alt="" src="./build/imgs/upload/small_UNAZ-oKq9Vvd-zcaRuQj16JwIKgLyFdgq-APcuI5zoM.png" /><img class="tiny-fallback" src="./build/imgs/upload/tiny_UNAZ-oKq9Vvd-zcaRuQj16JwIKgLyFdgq-APcuI5zoM.png"
                                    alt="Tiny" /></figure>
                            <div class="tout__details">
                                <div class="tout__topic caption"></div>
                                <h3 class="tout__title">现在才八月，可我们已经把今年的自然资源都用完了！</h3>
                                <p class="tout__description">八月才过了一半，但我们已经一整年的资源用光了，其实这一天8月8日就到了，而地球的资源每年也就有这些了。 在赫芬顿邮报提供给我们的图表中，人们所定义的“地球生态超载日”一年比一年来得提前，也就是说我们对资源的使用已越来越无节制。 今年的超载日比2015年提前了5天。而在1971年，这个日期是12月24日。</p>
                                <div class="tout__meta">
                                    <div class="caption"><span class="article__author bold">Joe Myers</span> <span>17 Aug 2016</span></div>
                                </div>
                            </div>
                        </a>
                    </article>
                
                  
                </div>
                <a class="more-items-button" href="/agenda/global"><span>更多的全球议题</span><img src="./build/imgs/link-arrow-9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc.svg" alt="Link arrow 9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc" /></a>
            </section>

            <section class="columns">
                <h2 class="sub-title">地区议题</h2>
                <div class="tout-list tout-list--grid">
                    <div class="tout-list--grid__container">
                        <article class="tout tout--default tout--article">
                            <a class="tout__link" href="/agenda/2016/08/7f95c280-fc9b-4361-9ecd-1c1375323350">
                                <figure class="placeholder small"><img class="image" alt="" src="./build/imgs/upload/small_7RZtCW95iJSTplcLxAQolo-s2C8Ii2HVQkE8pU7vl78.jpg" /><img class="tiny-fallback" src="./build/imgs/upload/tiny_7RZtCW95iJSTplcLxAQolo-s2C8Ii2HVQkE8pU7vl78.jpg"
                                        alt="Tiny 7rztcw95ijstplclxaqolo s2c8ii2hvqke8pu7vl78" /></figure>
                                <div class="tout__details">
                                    <div class="tout__topic caption"></div>
                                    <h3 class="tout__title">企业应当如何应对中国水危机？</h3>
                                    <p class="tout__description"> 以全球淡水供应的7%却要养育世界五分之一的人口，面对着为保持未来发展与繁荣所需的充足水资源供给，中国的情况不容乐观。 然而，中国每立方米水仅需50美分（约3.33元人民币），这远远低于每立方米2美元的世界水平。与此同时，水的需求量仍在不断上涨。预计到2030年，水资源将供不应求，这将导致每年350亿美元的经济损失。 这个问题将困扰中国乃至整个世界。当今中国工业在世界...</p>
                                    <div class="tout__meta">
                                        <div class="caption"><span class="article__author bold"></span> <span>10 Aug 2016</span></div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--article">
                            <a class="tout__link" href="/agenda/2016/07/2680b551-a7e0-4c9e-be13-15375cadefa0">
                                <figure class="placeholder small"><img class="image" alt="" src="./build/imgs/upload/small__1OdK_McqnkTwaboFkI8HStpelz2K344mXA4WtwhZHM.png" /><img class="tiny-fallback" src="./build/imgs/upload/tiny__1OdK_McqnkTwaboFkI8HStpelz2K344mXA4WtwhZHM.png"
                                        alt="Tiny  1odk mcqnktwabofki8hstpelz2k344mxa4wtwhzhm" /></figure>
                                <div class="tout__details">
                                    <div class="tout__topic caption"></div>
                                    <h3 class="tout__title">中国惊艳全球科学界的五大超级工程</h3>
                                    <p class="tout__description">如今中国的经济增速已经令全世界惊叹不已，政治和军事实力也得以日渐增强。然而在另外一些鲜有关注的领域，中国也正在成为全球范围内的领导者。中国的科学研究体量如今已经十分庞大。而在全国人大在今年早些时候启动第十三个五年计划（“十三五”）之后，中国的科研事业将被纳入未来的国家优先发展战略。中国政府意在2020年，使国内科研经费占GDP的比重从过去五年的低于2.2%，升至2.5%。</p>
                                    <div class="tout__meta">
                                        <div class="caption"><span class="article__author bold"></span> <span>29 Jul 2016</span></div>
                                    </div>
                                </div>
                            </a>
                        </article>
                   
                      
                       
                       
                    </div>
                </div>
                <a class="more-items-button" href="/agenda/regional"><span>更多的地区议题</span><img src="./build/imgs/link-arrow-9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc.svg" alt="Link arrow 9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc" /></a>
            </section>

            <section class="columns">
                <h2 class="sub-title">行业议题</h2>
                <div class="tout-list tout-list--grid">
                    <div class="tout-list--grid__container">
                        <article class="tout tout--default tout--article">
                            <a class="tout__link" href="/agenda/2016/07/8c58bf51-abe3-4be4-b8d0-8f7bb6dc073c">
                                <figure class="placeholder small"><img class="image" alt="" src="./build/imgs/upload/small_OrtOlg3_8ifmr5gYy2U12Rk5r7PnHDLBEPqKHusHjto.jpeg" /><img class="tiny-fallback" src="./build/imgs/upload/tiny_OrtOlg3_8ifmr5gYy2U12Rk5r7PnHDLBEPqKHusHjto.jpeg"
                                        alt="Tiny ortolg3 8ifmr5gyy2u12rk5r7pnhdlbepqkhushjto" /></figure>
                                <div class="tout__details">
                                    <div class="tout__topic caption"></div>
                                    <h3 class="tout__title">雾霾变钻石的魔法在中国真的存在！</h3>
                                    <p class="tout__description">为了整治北京的空气污染问题，荷兰艺术家丹·罗斯加德想出了一个绝妙的方法，这个方法让有毒气体摇身一变，成了美学艺术品。 从鹿特丹港市试运行后，“拒绝雾霾计划”来到了中国。该计划分为两个板块。一是建一座7米高的吸霾塔，以纳米级别净化空气。二是将从雾霾颗粒中提取出的碳制成钻石。没错，真的是钻石！</p>
                                    <div class="tout__meta">
                                        <div class="caption"><span class="article__author bold"></span> <span>25 Jul 2016</span></div>
                                    </div>
                                </div>
                            </a>
                        </article>
                       
                        <article class="tout tout--default tout--regular-author tout--article">
                            <a class="tout__link" href="/agenda/2016/06/future-of-building%20">
                                <figure class="placeholder small"><img class="image" alt="" src="./build/imgs/upload/small_4Wfcvyuqa_LlVcV2oRsXMS5qrLFFXdQ6OHFwzkeK0WU.jpg" /><img class="tiny-fallback" src="./build/imgs/upload/tiny_4Wfcvyuqa_LlVcV2oRsXMS5qrLFFXdQ6OHFwzkeK0WU.jpg"
                                        alt="Tiny 4wfcvyuqa llvcv2orsxms5qrlffxdq6ohfwzkek0wu" /></figure>
                                <div class="tout__details">
                                    <div class="tout__topic caption"></div>
                                    <h3 class="tout__title">混凝土“自愈”、屋顶能“排汗”……未来的建筑会是什么样？</h3>
                                    <p class="tout__description">能够自愈的混凝土、能够“排汗”的屋顶、受到食肉植物启发开发的材料表面……这些颠覆性的技术发展，有望在未来推动建筑行业转型，应对关键挑战。 世界经济论坛发布的《塑造建筑未来》报告旨在发掘建筑业在未来几十年中如何应对从“满足城市化的高速发展需求”到“应对气候变化”等关键性挑战。指出，建筑行业过去久疏变革，如今则必须主动接纳新技术了。 能“自愈”的建筑</p>
                                    <div class="tout__meta">
                                        <div class="caption"><span class="regular-author">Regular Author</span> <span class="article__author bold">Keith  Breene</span> <span>22 Jun 2016</span></div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--article">
                            <a class="tout__link" href="/agenda/2016/05/10">
                                <figure class="placeholder small"><img class="image" alt="" src="./build/imgs/upload/small_-g4WMY1UZFhIjhZG40oi5kS045LPPGCbBm_aqwhASl4.jpg" /><img class="tiny-fallback" src="./build/imgs/upload/tiny_-g4WMY1UZFhIjhZG40oi5kS045LPPGCbBm_aqwhASl4.jpg"
                                        alt="Tiny  g4wmy1uzfhijhzg40oi5ks045lppgcbbm aqwhasl4" /></figure>
                                <div class="tout__details">
                                    <div class="tout__topic caption"></div>
                                    <h3 class="tout__title">想知道你的私人数字助理长什么样吗？</h3>
                                    <p class="tout__description">欢迎来到未来世界。在这里，智能小助手将与我们形影不离，日夜陪伴，成为值得信赖的朋友。没错！科幻小说的预言，将在这里实现。 科幻小说作家William Gibson曾明确写道：“未来已经在我们脚下了——只是，并非所有人都能享受到这美好的光景。” 图片： Merrill Lynch 智能小助手的呼声日渐高涨，在这一全新产业启航之际，学术、工业和军事人员都在加班加点，以满足...
                                    </p>
                                    <div class="tout__meta">
                                        <div class="caption"><span class="article__author bold">David Tuffley</span> <span>31 May 2016</span></div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        
                       
                    </div>
                </div>
                <a class="more-items-button" href="/agenda/industry"><span>更多的行业议题</span><img src="./build/imgs/link-arrow-9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc.svg" alt="Link arrow 9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc" /></a>
            </section>

        </div>
    </div>


</section>