<section>
    <div class="filter">
        <div class="filter__selector-row">
            <div class="row">
                <div class="small-8 columns">
                    <div class="filter__path">
                        <span class="filter__parent-category"><a href="/agenda/archive">文献资料</a></span>
                    </div>
                </div>
                <div class="small-4 columns">
                </div>
            </div>
        </div>
    </div>
    <div class="article-archives-page">
        <div class="row">
            <div class="columns">
                <h1 class="article-archives-title">Global Agenda</h1>
                <div class="tout-list tout-list--grid">
                    <div class="tout-list--grid__container">
                        <article class="tout tout--default tout--article">
                            <a class="tout__link" href="">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="./build/imgs/upload/small_45AmZZ8RSbjiXet1VO2Q3a2PJbCRepdIp_NOBm815jc.jpeg" />
                                    <img class="tiny-fallback" src="./build/imgs/upload/tiny_45AmZZ8RSbjiXet1VO2Q3a2PJbCRepdIp_NOBm815jc.jpeg" alt="Tiny" />
                                </figure>
                                <div class="tout__details">
                                    <div class="tout__topic caption"></div>
                                    <h3 class="tout__title">它竟然是世界上最环保、最幸福的国家！</h3>
                                    <p class="tout__description">人类在地球上的生活是否越来越好了呢？当谈及民族进步，你如何寻找并衡量最关键因素？财富、健康、以及最基本的人类自由，这类评判标准在国际排行榜中经常出现，如美好生活指数、经济可持续发展评估和全球幸福指数报告等。 但一项新研究却另辟蹊径。其2016年发布的快乐星球指数（HPI），将原本分立的健康指数和幸福指数综合计算，并增添了一项新的黄金指标，该指标在成功道路上至关重要：可持...</p>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__author bold">Anna Bruce-Lockhart</span>
                                            <span>17 Aug 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--article">
                            <a class="tout__link" href="">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="./build/imgs/upload/small_UNAZ-oKq9Vvd-zcaRuQj16JwIKgLyFdgq-APcuI5zoM.png" />
                                    <img class="tiny-fallback" src="./build/imgs/upload/tiny_UNAZ-oKq9Vvd-zcaRuQj16JwIKgLyFdgq-APcuI5zoM.png" alt="Tiny" />
                                </figure>
                                <div class="tout__details">
                                    <div class="tout__topic caption"></div>
                                    <h3 class="tout__title">现在才八月，可我们已经把今年的自然资源都用完了！</h3>
                                    <p class="tout__description">八月才过了一半，但我们已经一整年的资源用光了，其实这一天8月8日就到了，而地球的资源每年也就有这些了。 在赫芬顿邮报提供给我们的图表中，人们所定义的“地球生态超载日”一年比一年来得提前，也就是说我们对资源的使用已越来越无节制。 今年的超载日比2015年提前了5天。而在1971年，这个日期是12月24日。</p>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__author bold">Joe Myers</span>
                                            <span>17 Aug 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--article">
                            <a class="tout__link" href="">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="./build/imgs/upload/small__mXCeQqgPmmTFWA7oYDW0ODWrDtcdIH4jNVxcLahs9Q.jpg" />
                                    <img class="tiny-fallback" src="./build/imgs/upload/tiny__mXCeQqgPmmTFWA7oYDW0ODWrDtcdIH4jNVxcLahs9Q.jpg" alt="Tiny" />
                                </figure>
                                <div class="tout__details">
                                    <div class="tout__topic caption"></div>
                                    <h3 class="tout__title">全球化使我们的经济更容易受到气候变化的影响</h3>
                                    <p class="tout__description">干旱、酷热、洪水和暴雨这些极端气候问题，通常对一些地区来说被认为是毁灭性的噩梦，对一些地区却是很遥远的事情。事实往往就是这样。然而，在全球化的年代，极端气候的经济影响不再局限于局部地区，而是辐射到世界的各个角落。虽然这种影响一定会被削弱，但是只要经济贸易往来存在，我们就与对方国家共同经受着极端气候的摧残。 例如，泰国在2011年发生的那次灾难性的季风洪水淹没了许多工厂的...</p>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__author bold">Leonie Wenz</span>
                                            <span>16 Aug 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>        
                    </div>
                </div>
            </div>
            <% include ../layout/pagination.html %>
        </div>
    </div>
</section>