<section>
    <div class="project">
        <div class="row">
            <div class="small-12 medium-12 large-8 columns">
                <h1 class="report__title">Growth and Competitiveness Lab Europe</h1>
            </div>
        </div>
        <div class="row">
            <div class="project-description-container">
                <img class="image" src="/assets/fallback-large-bb4cb27cfed97ac618a3f28d5b59819b62206047e6774b31c753acb75922c1ab.png" alt="Fallback large bb4cb27cfed97ac618a3f28d5b59819b62206047e6774b31c753acb75922c1ab" />
                <div class="project-description">
                    <p>Competitiveness is recognized as a key driver of growth. Improving competitiveness while ensuring the inclusiveness of the growth process requires coordinated action between the public and private sectors. Private sector investment
                        and know-how, in conjunction with government action, can foster a more innovative and dynamic economy, creating jobs, boosting productivity, and unlocking potential growth for an inclusive, cohesive and prosperous Europe. In addition,
                        globalization and the new wave of digitization are catalysing a Fourth Industrial Revolution, opening up unprecedented opportunities for Europe in these challenging times.</p>

                    <p>Objectives
                        <br />The Europe Inclusive Growth and Competitiveness Lab aims to support the design, launch and implementation of actionable agendas for public-private collaborations to increase competitiveness and inclusive growth in Europe.
                        <br />
                        <br />This objective will be reached by:
                        <br />
                        <ul>
                            <br />
                            <li>Providing thought-leadership on how to unleash the drivers of growth in Europe through public and private actions.</li>
                            <br />
                            <li>Building, strengthening and engaging the World Economic Forum’s multi-stakeholder communities through sustained interaction and dialogue to support informed decision-making on transformation processes in Europe.</li>
                            <br /></ul>
                        <br />Partners and Approach
                        <br />The Europe Inclusive Growth and Competitiveness Lab is a joint effort between the World Economic Forum, the European Investment Bank and Bruegel, which comprise the “Core Group”.
                        <br />
                        <br />The Lab comprises both an analytical stage and the implementation of concrete public-private partnership opportunities at the EU28, macro-regional and/or industry level. The Lab focuses on investment and the reallocation
                        of resources to innovation and entrepreneurship as key drivers for change. The uniqueness of the project lies in its strong cross-cutting focus on the role of digitization in the regional economy. In this context, the Lab will
                        also address the need for a more deeply integrated European single market as one of the key enablers. Mindful of short term challenges which Europe is currently facing, the Lab focuses on the longer term drivers of competitiveness
                        and inclusive growth in the region.</p>

                    <p>Timeline/Key dates
                        <br />This project is slated to run until 2018. Multiple physical and virtual meetings will be conducted throughout this period.
                        <br /> </p>
                </div>
                <div>
                    <h2>目标</h2>
                    <div class="project-objectives">
                        <p>The Lab will concentrate on addressing Inclusive Growth and Competitiveness challenges with a particular view to the Digital Agenda and EU Single Market.
                            <br />
                            <br />More specifically, it will focus on:
                            <br />
                            <ul>
                                <br />
                                <li>Assessing the inclusive growth and competitiveness situation in Europe and providing recommendations for prioritization of actions to address the existing challenges.</li>
                                <br />
                                <li>Identifying potential areas for public-private collaboration at the EU and sub-regional level and/or at the industry level.</li>
                                <br /></ul>
                        </p>
                    </div>
                </div>

            </div>

            <!-- Related links -->
            <div class="project-links">


            </div>
        </div>
    </div>
</section>