<section>
    <div class="global-challenges-index-page">
        <div class="row">
            <div class="global-challenges-description">
                <h1 class="page-title">全球挑战</h1>
                <p>世界经济论坛是一个致力于通过公私合作改善世界状况的国际机构。同样的，对那些致力于应对最紧要的全球公共利益挑战的顶尖的公私合作活动，我们将为其提供一个公正可信赖的活动空间。</p>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <div class="row">
                    <div class="global-agenda-summary">
                        <a href="/global-challenges/future-of-the-internet">
                            <div class="global-agenda-summary__image">
                                <img class="image" src="./build/imgs/upload/medium_NW8-1DNCk0ZrglxeihYBBZKVcAEB6tLpUEP3Sr96ang.jpg" alt="Medium" />
                            </div>
                            <div class="global-agenda-summary__title summary__title">
                                互联网的未来
                            </div>
                        </a>
                    </div>
                    <div class="global-agenda-summary">
                        <a href="/global-challenges/gender-parity">
                            <div class="global-agenda-summary__image">
                                <img class="image" src="./build/imgs/upload/medium_wZBokkQuGK91WW8YG8TGv-WGs9q4UyrQKRcN2H1j5mA.jpg" alt="Medium" />
                            </div>
                            <div class="global-agenda-summary__title summary__title">
                                全球性别平等
                            </div>
                        </a>
                    </div>
                    <div class="global-agenda-summary">
                        <a href="/global-challenges/future-of-the-global-financial-system">
                            <div class="global-agenda-summary__image">
                                <img class="image" src="./build/imgs/upload/medium_pByw7FHDw7oiVsax7iMmLu3yj2msHAIBHeld3mgS--4.jpg" alt="Medium" />
                            </div>
                            <div class="global-agenda-summary__title summary__title">
                                全球金融体系的未来
                            </div>
                        </a>
                    </div>
                    <div class="global-agenda-summary">
                        <a href="/global-challenges/food-security-and-agriculture">
                            <div class="global-agenda-summary__image">
                                <img class="image" src="./build/imgs/upload/medium_rHuNOGTuwBRrHBg6Vq4zYl1NXBNs94bsmYM7KS4PCTw.jpg" alt="Medium" />
                            </div>
                            <div class="global-agenda-summary__title summary__title">
                                农业与粮食安全
                            </div>
                        </a>
                    </div>
                    <div class="global-agenda-summary">
                        <a href="/global-challenges/international-trade-and-investment">
                            <div class="global-agenda-summary__image">
                                <img class="image" src="./build/imgs/upload/medium_alLyHWWkyWVlQyvc4i71xiph3cOko6vSvuT92tnWFQ0.jpg" alt="Medium" />
                            </div>
                            <div class="global-agenda-summary__title summary__title">
                                国际贸易与投资
                            </div>
                        </a>
                    </div>
                    <div class="global-agenda-summary">
                        <a href="/global-challenges/employment-skills-and-human-capital">
                            <div class="global-agenda-summary__image">
                                <img class="image" src="./build/imgs/upload/medium_JdFeWRp7JzkjWqEzFeMsm678Rg0fw_Z2Wkfkg_KkaR8.jpg" alt="Medium" />
                            </div>
                            <div class="global-agenda-summary__title summary__title">
                                就业、技能与人力资本
                            </div>
                        </a>
                    </div>
                    <div class="global-agenda-summary">
                        <a href="/global-challenges/environment-and-resource-security">
                            <div class="global-agenda-summary__image">
                                <img class="image" src="./build/imgs/upload/medium_XFug6k4nWiXPd-ZQiWvev4oq3wBePtVYgEFyVhIB_oE.jpg" alt="Medium" />
                            </div>
                            <div class="global-agenda-summary__title summary__title">
                                环境与资源安全
                            </div>
                        </a>
                    </div>
                    <div class="global-agenda-summary">
                        <a href="/global-challenges/economic-growth-and-social-inclusion">
                            <div class="global-agenda-summary__image">
                                <img class="image" src="./build/imgs/upload/medium_2aBEieaJ2wbOBdQKeVE4ugG9Pvv1RS7QoQspvJtS4Zk.jpg" alt="Medium" />
                            </div>
                            <div class="global-agenda-summary__title summary__title">
                                经济增长与社会包容
                            </div>
                        </a>
                    </div>
                    <div class="global-agenda-summary">
                        <a href="/global-challenges/long-term-investing-infrastructure-and-development">
                            <div class="global-agenda-summary__image">
                                <img class="image" src="./build/imgs/upload/medium_mKmX2e7rSK-5FpH6QdbdYdqdb4UrwLY3x1iePpVHbQ0.jpg" alt="Medium" />
                            </div>
                            <div class="global-agenda-summary__title summary__title">
                                长期投资、基础设施与经济发展
                            </div>
                        </a>
                    </div>
                    <div class="global-agenda-summary">
                        <a href="/global-challenges/projects">
                            <div class="global-agenda-summary__image">
                                <img class="image" src="./build/imgs/more-projects-aad472c052fac052b43594bd6baeb04586e28519b391eee12ea8d7e455ba3458.jpg" alt="More" />
                            </div>
                            <div class="global-agenda-summary__title summary__title">
                                更多论坛项目
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>