<section>
    <div class="page row">
        <div class="page__sidebar">
            <nav class="about-page__nav">
                <ul class="page__items">
                    <li class="list-group__header"> <span>关于</span> </li>
                    <li class="page__item"> <a class="page__item" href="/about/our-mission">我们的使命</a> </li>
                    <li class="page__item"> <a class="page__item" href="/about/communities">我们的社区</a> </li>
                    <li class="page__item"> <a class="page__item" href="/about/our-members-partners">我们的会员与伙伴</a> </li>
                    <li class="page__item"> <a class="page__item" href="/about/leadership-and-governance">领导团队</a> </li>
                    <li class="page__item"> <a class="page__item" href="/about/our-history">我们的历史</a> </li>
                    <li class="page__item"> <a class="page__item" href="/about/contact-us">联系我们 </a> </li>
                    <li class="page__item"> <a class="page__item" href="/about/press">媒体</a> </li>
                    <li class="page__item"> <a class="page__item" href="/about/career-opportunities">职业机会</a> </li>
                    <li class="page__item"> <a class="page__item" href="/about/775175ff-9f09-45f1-b552-0a8c437b4847">声明</a> </li>
                    <li class="page__item"> <a class="page__item" href="/about/privacy-and-terms-of-use">隐私和使用条款</a> </li>
                </ul>
            </nav>
        </div>
        <div class="page__content">
            <div class="page__header">
                社区
            </div>
            <div class="tout-list tout-list--grid tout-list--grid-x2">
                <div class="tout-list--grid__container">
                    <article class="tout tout--default tout--page">
                        <a class="tout__link" href="/about/strategic-partners">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="./build/imgs/upload/small_gm8w6rMfrX8TcB9GCitwl4Um4iGdT71ZR73f9ZLTlG4.jpg" />
                                <img class="tiny-fallback" src="./build/imgs/upload/tiny_gm8w6rMfrX8TcB9GCitwl4Um4iGdT71ZR73f9ZLTlG4.jpg" alt="Tiny gm8w6rmfrx8tcb9gcitwl4um4igdt71zr73f9zltlg4" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">战略合作伙伴</h3>
                                <p class="tout__description">战略合作伙伴社区由100家全球领先的企业组成，他们代表了不同的地区和行业，与论坛一样致力于改善世界状况。他们提供必要的支持，是世界经济论坛各项活动及其社区工作背后的主要推动力。这些合作伙伴相信多方利益相关者互动能够推动积极的变革，并与世界经济论坛密切合作，以协助制定行业、地区和全球议程。 </p>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--page">
                        <a class="tout__link" href="/about/strategic-partner-associates">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="./build/imgs/upload/small_91yjY1xDyOJPQ2Uqjy9CVlhY2rw5-A-QUr5xLawX_jU.jpg" />
                                <img class="tiny-fallback" src="./build/imgs/upload/tiny_91yjY1xDyOJPQ2Uqjy9CVlhY2rw5-A-QUr5xLawX_jU.jpg" alt="Tiny 91yjy1xdyojpq2uqjy9cvlhy2rw5 a qur5xlawx ju" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">准战略合作伙伴</h3>
                                <p class="tout__description">准战略合作伙伴是世界经济论坛精心挑选的会员企业，他们积极参与论坛的活动并在行业、地区和全球范围内塑造议程。通过访问论坛多元利益相关者网络和专家，合作伙伴可以为论坛在重要行业或跨行业相关议题上提供战略性洞见。通过在上述议题中引导积极的变革，准战略合作伙伴致力于塑造行业、地区和全球议程，最终促进全球公民权的实现。 </p>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--page">
                        <a class="tout__link" href="/about/industry-partners">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="./build/imgs/upload/small_3oZMeMj3VgH09NyxIxdV8gV9k80T6FRHfKq-mnrzpHw.jpg" />
                                <img class="tiny-fallback" src="./build/imgs/upload/tiny_3oZMeMj3VgH09NyxIxdV8gV9k80T6FRHfKq-mnrzpHw.jpg" alt="Tiny 3ozmemj3vgh09nyxixdv8gv9k80t6frhfkq mnrzphw" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">行业合作伙伴</h3>
                                <p class="tout__description">行业合作伙伴是世界经济论坛精心挑选的会员企业，他们从行业层面积极参与推动论坛的使命。通过与论坛的多方利益相关者网络以及专家深入开展互动，行业合作伙伴为解决行业以及跨行业重大问题的有关战略决策提供洞察力。由此，行业合作伙伴就可以在诸多问题上引领积极变革，并从行动上支持全球企业公民精神。 </p>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--page">
                        <a class="tout__link" href="/about/regional-partners">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="./build/imgs/upload/small_C4idcF2Ug5CSdiY4_DeCSpG-_uJByeYJfU-hPxLYfWk.jpg" />
                                <img class="tiny-fallback" src="./build/imgs/upload/tiny_C4idcF2Ug5CSdiY4_DeCSpG-_uJByeYJfU-hPxLYfWk.jpg" alt="Tiny c4idcf2ug5csdiy4 decspg  ujbyeyjfu hpxlyfwk" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">地区合作伙伴</h3>
                                <p class="tout__description">合作伙伴是世界经济论坛精心挑选的会员企业，他们从地区层面积极参与推动论坛的使命，塑造议程。具有强大地区影响力或者对某地区具有强烈兴趣的合作伙伴和利益相关者一直致力于引领社会和经济发展。享有论坛多元利益相关者网络和专家的特别权限，地区合作伙伴的参与将为论坛在最重大的地区事件的战略决策中带来预见度和洞见。 </p>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--community">
                        <a class="tout__link" href="/communities/global-agenda-councils">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/community/image/small_f2imZxqjyqDV5TWtMHaBD_iDip08pXVV4hD5_JUEKCY.jpeg" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/community/image/tiny_f2imZxqjyqDV5TWtMHaBD_iDip08pXVV4hD5_JUEKCY.jpeg" alt="Tiny f2imzxqjyqdv5twtmhabd idip08pxvv4hd5 juekcy" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">全球未来理事会</h3>
                                <p class="tout__description"></p>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--community">
                        <a class="tout__link" href="/communities/global-shapers">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/community/image/small_At11xnUNuvKQeMH4LYvE-PT5u3uARpXniTohjiuogt8.jpeg" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/community/image/tiny_At11xnUNuvKQeMH4LYvE-PT5u3uARpXniTohjiuogt8.jpeg" alt="Tiny at11xnunuvkqemh4lyve pt5u3uarpxnitohjiuogt8" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">全球杰出青年</h3>
                                <p class="tout__description"></p>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--community">
                        <a class="tout__link" href="/communities/technology-pioneer">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/community/image/small_M-pzXT61z9g2ms9Zi0qxGpuxgxx7BZfREMWAI0Ma5tQ.jpg" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/community/image/tiny_M-pzXT61z9g2ms9Zi0qxGpuxgxx7BZfREMWAI0Ma5tQ.jpg" alt="Tiny m pzxt61z9g2ms9zi0qxgpuxgxx7bzfremwai0ma5tq" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">技术先锋</h3>
                                <p class="tout__description"></p>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--community">
                        <a class="tout__link" href="/communities/cultural-leaders">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/community/image/small_dwdOaKTsKjMNj6sF-uv9uEE4cMSU0QqGl0Aeu5f--OI.jpeg" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/community/image/tiny_dwdOaKTsKjMNj6sF-uv9uEE4cMSU0QqGl0Aeu5f--OI.jpeg" alt="Tiny dwdoaktskjmnj6sf uv9uee4cmsu0qqgl0aeu5f  oi" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">文化领袖</h3>
                                <p class="tout__description"></p>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--community">
                        <a class="tout__link" href="/communities/young-scientist">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/community/image/small_viuJYR6N8O9tPmaR3kAOwgGNPQSQXIfMkddBRl4SRfE.jpeg" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/community/image/tiny_viuJYR6N8O9tPmaR3kAOwgGNPQSQXIfMkddBRl4SRfE.jpeg" alt="Tiny viujyr6n8o9tpmar3kaowggnpqsqxifmkddbrl4srfe" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">青年科学家</h3>
                                <p class="tout__description"></p>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>