<section>
    <div class="highlights-section row">
        <div class="small-12 columns">
            <div class="events-header">
                即将开始
            </div>
            <article class="tout tout--hero tout--event">
                <a class="tout__link" href="/events/india-economic-summit-2016">
                    <figure class="placeholder large">
                        <img class="image" alt="" src="./build/imgs/upload/large_v0yPkGokoelOFh0r_E_7AAPtHUVJzRJ6Ic0us4LLDFM.jpeg" />
                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_v0yPkGokoelOFh0r_E_7AAPtHUVJzRJ6Ic0us4LLDFM.jpeg" alt="Tiny" />
                    </figure>
                    <div class="tout__details">
                        <div class="tout__topic caption"></div>
                        <h3 class="tout__title">2016年印度经济峰会</h3>
                        <p class="tout__description"></p>
                        <div class="tout__meta">
                            <div class="caption">
                                <span>6-7 October 2016</span>
                                <span>New Delhi, India</span>
                            </div>
                        </div>
                    </div>
                </a>
            </article>
        </div>
    </div>
    <div class="list-group row">
        <div class="columns">
            <h2 class="events-header">会议预告</h2>
            <div class="tout-list tout-list--grid tout-list--grid-x2">
                <div class="tout-list--grid__container">
                    <article class="tout tout--default tout--event">
                        <a class="tout__link" href="/events/annual-meeting-for-shaping-the-future-2016">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="./build/imgs/upload/small_AcGQgx9N5ZNgeZKAtULrElW136c_784wpNfpujc13Es.jpeg" />
                                <img class="tiny-fallback" src="./build/imgs/upload/tiny_AcGQgx9N5ZNgeZKAtULrElW136c_784wpNfpujc13Es.jpeg" alt="Tiny" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">Annual Meeting for Shaping the Future 2016</h3>
                                <p class="tout__description"></p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span>13-14 November 2016</span>
                                        <span>Dubai, United Arab Emirates</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--event">
                        <a class="tout__link" href="/events/world-economic-forum-annual-meeting-2017">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="./build/imgs/upload/small_Q1Y0gJD4X2KI7uyLScsCwUs3zJYcb6JgVucRUQeMFb4.jpeg" />
                                <img class="tiny-fallback" src="./build/imgs/upload/tiny_Q1Y0gJD4X2KI7uyLScsCwUs3zJYcb6JgVucRUQeMFb4.jpeg" alt="Tiny" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2017年世界经济论坛年会</h3>
                                <p class="tout__description"></p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span>17-20 January 2017</span>
                                        <span>Davos-Klosters, Switzerland</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--event">
                        <a class="tout__link" href="/events/world-economic-forum-on-latin-america-2017">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="./build/imgs/upload/small_nO5lvUyxqeXA8mexcn9Qn-qYsMGB9W1CFecTRYBZ0DM.jpeg" />
                                <img class="tiny-fallback" src="./build/imgs/upload/tiny_nO5lvUyxqeXA8mexcn9Qn-qYsMGB9W1CFecTRYBZ0DM.jpeg" alt="Tiny" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">World Economic Forum on Latin America 2017</h3>
                                <p class="tout__description"></p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span>5-7 April 2017</span>
                                        <span>Buenos Aires, Argentina</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                   
                 
                    
                </div>
            </div>
        </div>
    </div>
    <div class="list-group row">
        <div class="columns">
            <h2 class="events-header">会议回顾</h2>
            <div class="tout-list tout-list--grid tout-list--grid-x2">
                <div class="tout-list--grid__container">
                    <article class="tout tout--default tout--event">
                        <a class="tout__link" href="/events/annual-meeting-of-the-new-champions-2016">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="./build/imgs/upload/small__BvRhZ2lihcEJ7S_ISGzLJrNTOnX1GVqV2MCppoEu5I.jpeg" />
                                <img class="tiny-fallback" src="./build/imgs/upload/tiny__BvRhZ2lihcEJ7S_ISGzLJrNTOnX1GVqV2MCppoEu5I.jpeg" alt="Tiny" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2016年新领军者年会</h3>
                                <p class="tout__description">第四次工业革命与人类经历过的任何一次变革都截然不同。各项新兴技术正在推动物理、数字和生物世界的融合，既创造了巨大机遇，也带来了潜在风险。本次技术革命正快速对广泛的领域产生深刻影响，迫使我们反思国家的发展方式、组织创造价值的方式以及人类自身的意义。</p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span>26-28 June 2016</span>
                                        <span>Tianjin, People's Republic of China</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--event">
                        <a class="tout__link" href="/events/world-economic-forum-on-latin-america-2016">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="./build/imgs/upload/small_nrFCoW6lrUmoiwn2lgbiPmSyh03XuSxyYj_6PMIAE5w.jpeg" />
                                <img class="tiny-fallback" src="./build/imgs/upload/tiny_nrFCoW6lrUmoiwn2lgbiPmSyh03XuSxyYj_6PMIAE5w.jpeg" alt="Tiny" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2016年世界经济论坛拉美峰会</h3>
                                <p class="tout__description"></p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span>16-17 June 2016</span>
                                        <span>Medellin, Colombia</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                   
                    <
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <a href="/events/past">
                <div class="past-events-button">
                    更多会议回顾
                    <img class="link-nub__right-icon" src="./build/imgs/link-arrow-9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc.svg" alt="Link arrow" />
                </div>
            </a>
        </div>
    </div>
</section>