<section>
    <div class="event-title__container dark-tint" style="background-image: url('./build/imgs/upload/_BvRhZ2lihcEJ7S_ISGzLJrNTOnX1GVqV2MCppoEu5I.jpeg');background-size: cover;">
        <div class="row">
            <div class="event-details__header-container">
                <div class="event-details__content-box">
                    <h1 class="event-details__title"> 2016年新领军者年会 </h1>
                    <div class="event-details__support-text">
                        <span>26-28 June 2016</span>
                        <span>Tianjin, People's Republic of China</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="event-links__container">
            <div class="row">
                <div class="event-links__content">
                    <ul class="event-links__list">
                        <li class="event-links__item"> <a class="event-active-page" href="/events/annual-meeting-of-the-new-champions-2016">亮点</a> </li>
                        <li class="event-links__item"> <a class="" href="/events/annual-meeting-of-the-new-champions-2016/live">重播</a> </li>
                        <li class="event-links__item"> <a class="" href="/events/annual-meeting-of-the-new-champions-2016/about">关于</a> </li>
                        <li class="event-links__item"> <a class="" href="/events/annual-meeting-of-the-new-champions-2016/programme">会议日程</a> </li>
                        <li class="event-links__item"> <a class="" href="/events/annual-meeting-of-the-new-champions-2016/speakers">发言嘉宾</a> </li>
                        <li class="event-links__item"> <a class="" href="/events/annual-meeting-of-the-new-champions-2016/partners">合作伙伴</a> </li>
                    </ul>
                </div>
                <div class="event-social-container">
                    <ul class="event-social-list">
                        <li></li>
                        <li>
                            <a href="" class="js-social-share" target="_blank">
                            <img src="./build/imgs/weibo-icon-0720aff1983df591f2cfe49eca92919dcb1e6d8e143ec10c1a29ce0c3a0d17b5.svg" alt="Weibo icon" /> </a>
                        </li>
                        <li>
                            <a href="" class="js-social-share" target="_blank"> <img src="./build/imgs/linkedin-icon-32402f8cfdc7e565995289208d7984d95952a46a3795825550a60fe3c96869bb.svg" alt="Linkedin icon" /> </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="stream-widget-block stream-widget-block--alt">
        <div class="row">
            <div class="small-12 columns">
                <div class="stream-widget">
                    <iframe id="webcast" src="https://webcasts.weforum.org/widget/1/china2016?p=1&amp;pi=1&amp;ms=1&amp;th=2&amp;s=w&amp;hl=chinese" width="100%" height="693" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>