<section>
    <div class="page list-group">
        <div class="row">
            <div class="columns">
                <h1 class="events-header">会议回顾</h1>
                <div class="tout-list tout-list--grid">
                    <div class="tout-list--grid__container">

                        <article class="tout tout--default tout--event">
                            <a class="tout__link" href="">
                                <figure class="placeholder small"><img class="image" alt="" src="https://assets-cn.weforum.org/event/image/small__BvRhZ2lihcEJ7S_ISGzLJrNTOnX1GVqV2MCppoEu5I.jpeg" /><img class="tiny-fallback" src="https://assets-cn.weforum.org/event/image/tiny__BvRhZ2lihcEJ7S_ISGzLJrNTOnX1GVqV2MCppoEu5I.jpeg"
                                        alt="Tiny  bvrhz2lihcej7s isgzljrntonx1gvqv2mcppoeu5i" /></figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">2016年新领军者年会</h3>
                                    <p class="tout__description">第四次工业革命与人类经历过的任何一次变革都截然不同。各项新兴技术正在推动物理、数字和生物世界的融合，既创造了巨大机遇，也带来了潜在风险。本次技术革命正快速对广泛的领域产生深刻影响，迫使我们反思国家的发展方式、组织创造价值的方式以及人类自身的意义。</p>

                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span>26-28 June 2016</span>
                                            <span>Tianjin, People&#39;s Republic of China</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        
                    </div>
                </div>
            </div>
           <% include ../layout/pagination.html %>
        </div>
    </div>

</section>