<section>
    <div class="row page">
        <h1 class="page-title columns"> 报告 </h1>
        <div class="columns">
            <div class="tout-list tout-list--grid">
                <div class="tout-list--grid__container">
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_Fj6nmCOpBdTUtJSeyCYAZNVa8kSd-WBQbKt3hkFemJ8.jpg" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_Fj6nmCOpBdTUtJSeyCYAZNVa8kSd-WBQbKt3hkFemJ8.jpg" alt="Tiny" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2016年全球信息技术报告</h3>
                                <p class="tout__description">The Global Information Technology Report 2016 features the latest iteration of the Networked Readiness Index, which assesses the factors, policies and institutions that enable a country t...</p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">1 Jul 2016</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                  
                </div>
            </div>
        </div>
        <% include ../layout/pagination.html %>
    </div>
</section>