<section>
    <div class="row page">
        <h1 class="page-title columns"> 报告 </h1>
        <div class="columns">
            <div class="tout-list tout-list--grid">
                <div class="tout-list--grid__container">
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/global-information-technology-report-2016">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_Fj6nmCOpBdTUtJSeyCYAZNVa8kSd-WBQbKt3hkFemJ8.jpg" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_Fj6nmCOpBdTUtJSeyCYAZNVa8kSd-WBQbKt3hkFemJ8.jpg" alt="Tiny fj6nmcopbdtutjseycyaznva8ksd wbqbkt3hkfemj8" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2016年全球信息技术报告</h3>
                                <p class="tout__description">The Global Information Technology Report 2016 features the latest iteration of the Networked Readiness Index, which assesses the factors, policies and institutions that enable a country t...</p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">1 Jul 2016</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/human-capital-report-2016">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_Z1x0Cv-SU1vMvLBPz7x1jCtNsrcLVPQiM4diqsI0Y58.JPG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_Z1x0Cv-SU1vMvLBPz7x1jCtNsrcLVPQiM4diqsI0Y58.JPG" alt="Tiny z1x0cv su1vmvlbpz7x1jctnsrclvpqim4diqsi0y58" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2016年人力资本报告</h3>
                                <p class="tout__description">The World Economic Forum’s Human Capital Report ranks 130 countries on how well they are developing and deploying their talent. The index takes a life-course approach to human capital, ev...</p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">15 Jun 2016</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/the-future-of-jobs">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_4QQCJrfsnv_rbX4Y2eaarz-wP7tG6x5LQLkPZk8joAQ.png" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_4QQCJrfsnv_rbX4Y2eaarz-wP7tG6x5LQLkPZk8joAQ.png" alt="Tiny 4qqcjrfsnv rbx4y2eaarz wp7tg6x5lqlkpzk8joaq" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">未来就业报告</h3>
                                <p class="tout__description">世界经济论坛发布《未来就业报告》，第四次工业革命的到来将会引发劳动力市场的巨大变革。在未来十五年内，传统职业的消失与新兴职业的产生将会成为第四次工业革命将要应对的真正挑战。 </p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">18 Jan 2016</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/global-risks-2016">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_l0yjMBX3OK7JHofCMgpZNmLaLq1O_rofRltDxX2gl8E.PNG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_l0yjMBX3OK7JHofCMgpZNmLaLq1O_rofRltDxX2gl8E.PNG" alt="Tiny l0yjmbx3ok7jhofcmgpznmlalq1o rofrltdxx2gl8e" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2016 年全球风险报告</h3>
                                <p class="tout__description">世界经济论坛《2016年全球风险报告》显示，新的一年中，无论从环境、社会、经济、地缘政治还是技术方面看，各种风险的发生概率都在上升，并必将对未来 全球议程产生重要影响。 </p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">14 Jan 2016</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/global-energy-architecture-performance-index-report-2016">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_IJIcwAdCepmC4cv9sreL9KjzgJcq7OjXK2ciohPBKcw.PNG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_IJIcwAdCepmC4cv9sreL9KjzgJcq7OjXK2ciohPBKcw.PNG" alt="Tiny ijicwadcepmc4cv9srel9kjzgjcq7ojxk2ciohpbkcw" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">全球能源架构绩效指数报告</h3>
                                <p class="tout__description">《2016 年全球能源架构绩效指数报告》于今天正式发布，该报告从能源安全、可负担性和可持续性三个角度 对 126 个国家进行了排名。 </p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">1 Jan 2016</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/global-gender-gap-report-2015">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_37lE6_D8ChkDI0Doh84lJ2fXHFMROiC-wFVbafJyArA.PNG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_37lE6_D8ChkDI0Doh84lJ2fXHFMROiC-wFVbafJyArA.PNG" alt="Tiny 37le6 d8chkdi0doh84lj2fxhfmroic wfvbafjyara" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2015年全球性别差距报告</h3>
                                <p class="tout__description">世界经济论坛《2015年全球性别差距报告》显示，女性目前薪酬水平仅相当于十年前的男性收入。</p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">18 Nov 2015</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/top-ten-urban-innovations">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_MccewuUcY218S1u4NNEq9tNc5E-_wzA8gJ_VstHDR50.PNG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_MccewuUcY218S1u4NNEq9tNc5E-_wzA8gJ_VstHDR50.PNG" alt="Tiny mccewuucy218s1u4nneq9tnc5e  wza8gj vsthdr50" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">十大城市创新</h3>
                                <p class="tout__description">世界经济论坛都市未来理事会发布的《十大城市创新》报告为城市治理者提供了新颖的解决思路。</p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">24 Oct 2015</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/global-competitiveness-report-2015">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_s841pvqxUPcEYRD4S5ciaKI_67s3O5HCe4L7YUZKHcE.PNG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_s841pvqxUPcEYRD4S5ciaKI_67s3O5HCe4L7YUZKHcE.PNG" alt="Tiny s841pvqxupceyrd4s5ciaki 67s3o5hce4l7yuzkhce" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2015-2016年全球竞争力报告 </h3>
                                <p class="tout__description">世界经济论坛《2015-2016年全球竞争力报告》对全球140个经济体在促进生产力发展与社会繁荣方面的 “全球竞争力指数”进行考量与排名。</p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">29 Sep 2015</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/human-capital-report-2015">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_fAi3Cz94d7hGpD6ToKBtHlkD9BwUVt4FYXZAQw8wSA4.PNG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_fAi3Cz94d7hGpD6ToKBtHlkD9BwUVt4FYXZAQw8wSA4.PNG" alt="Tiny fai3cz94d7hgpd6tokbthlkd9bwuvt4fyxzaqw8wsa4" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2015年人力资本报告</h3>
                                <p class="tout__description">世界经济论坛发布的《人力资本报告》发现，充分释放人力资源可使全球GDP提高20%。</p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">13 May 2015</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/travel-and-tourism-competitiveness-report-2015">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_EIweg507EXpdcuJuUo-5E7OgmQxT6tsxve7vx7hn800.PNG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_EIweg507EXpdcuJuUo-5E7OgmQxT6tsxve7vx7hn800.PNG" alt="Tiny eiweg507expdcujuuo 5e7ogmqxt6tsxve7vx7hn800" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2015年旅游业竞争力报告</h3>
                                <p class="tout__description">世界经济论坛2015年最新发布的《旅游业竞争力报告》显示，西班牙成为全球旅游竞争力最强国，这是该国首次在这份旅游业双年报告中摘得桂冠，被视为经济复苏的积极信号。</p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">1 May 2015</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/emerging-best-practices-of-chinese-globalizers-develop-the-innovation-model">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_fFSJObb27N_UDlveCOXXSWziU9-yK9yp_DqrCAUxy9M.PNG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_fFSJObb27N_UDlveCOXXSWziU9-yK9yp_DqrCAUxy9M.PNG" alt="Tiny ffsjobb27n udlvecoxxswziu9 yk9yp dqrcauxy9m" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">中国企业全球化最佳实践：制定创新模式</h3>
                                <p class="tout__description">从“中国制造”到“中国创造”，创新已成为中国企业海外拓展过程中的核心战略。</p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">21 Apr 2015</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/global-information-technology-report-2015">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_x1vNKAaHHMeHxzqgFHuJXCfgFML1Q62wa4zBxf_G-n0.PNG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_x1vNKAaHHMeHxzqgFHuJXCfgFML1Q62wa4zBxf_G-n0.PNG" alt="Tiny x1vnkaahhmehxzqgfhujxcfgfml1q62wa4zbxf g n0" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2015年全球信息技术报告</h3>
                                <p class="tout__description">世界经济论坛今日发布的《2015 年全球信息技术报告》显示，新加坡在运用信息通讯技术（ICT）推动社会经济发展方面排名全球第一。 </p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">15 Apr 2015</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
        <% include ../layout/pagination.html %>
    </div>
</section>