<div class="meganav-container">
    <div class="meganav-content" data-pane="agenda">
        <% include description.html %>
            <div class="row meganav-agenda-subpane" data-subpane="global">
                <div class="columns">
                    <div class="tout-list tout-list--grid tout-list--grid-">
                        <div class="tout-list--grid__container">
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_45AmZZ8RSbjiXet1VO2Q3a2PJbCRepdIp_NOBm815jc.jpeg" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_45AmZZ8RSbjiXet1VO2Q3a2PJbCRepdIp_NOBm815jc.jpeg" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">它竟然是世界上最环保、最幸福的国家！</h3>
                                    </div>
                                </a>
                            </article>
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="/agenda/2016/08/386c03df-5de0-4fe4-8efe-ef381b76a42a">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_UNAZ-oKq9Vvd-zcaRuQj16JwIKgLyFdgq-APcuI5zoM.png" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_UNAZ-oKq9Vvd-zcaRuQj16JwIKgLyFdgq-APcuI5zoM.png" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">现在才八月，可我们已经把今年的自然资源都用完了！</h3>
                                    </div>
                                </a>
                            </article>
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="/agenda/2016/08/ac3f9324-60af-4aa4-820a-6429ef40bc3c">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small__mXCeQqgPmmTFWA7oYDW0ODWrDtcdIH4jNVxcLahs9Q.jpg" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny__mXCeQqgPmmTFWA7oYDW0ODWrDtcdIH4jNVxcLahs9Q.jpg" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">全球化使我们的经济更容易受到气候变化的影响</h3>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row meganav-agenda-subpane" data-subpane="regional">
                <div class="columns">
                    <div class="tout-list tout-list--grid tout-list--grid-">
                        <div class="tout-list--grid__container">
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="/agenda/2016/08/7f95c280-fc9b-4361-9ecd-1c1375323350">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_7RZtCW95iJSTplcLxAQolo-s2C8Ii2HVQkE8pU7vl78.jpg" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_7RZtCW95iJSTplcLxAQolo-s2C8Ii2HVQkE8pU7vl78.jpg" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">企业应当如何应对中国水危机？</h3>
                                    </div>
                                </a>
                            </article>
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="/agenda/2016/07/2680b551-a7e0-4c9e-be13-15375cadefa0">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small__1OdK_McqnkTwaboFkI8HStpelz2K344mXA4WtwhZHM.png" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny__1OdK_McqnkTwaboFkI8HStpelz2K344mXA4WtwhZHM.png" alt="Tiny  1odk" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">中国惊艳全球科学界的五大超级工程</h3>
                                    </div>
                                </a>
                            </article>
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="/agenda/2016/07/3eef766a-53a6-40fb-b8bc-c0203150eb05">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_0GwiKx--9OopQL6NZNLPBniSZ1ekThSR9n0LqOrRJ_s.png" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_0GwiKx--9OopQL6NZNLPBniSZ1ekThSR9n0LqOrRJ_s.png" alt="Tiny 0gwikx s" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">中国视角：怎样教孩子们创新？</h3>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row meganav-agenda-subpane" data-subpane="industry">
                <div class="columns">
                    <div class="tout-list tout-list--grid tout-list--grid-">
                        <div class="tout-list--grid__container">
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="/agenda/2016/07/8c58bf51-abe3-4be4-b8d0-8f7bb6dc073c">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_OrtOlg3_8ifmr5gYy2U12Rk5r7PnHDLBEPqKHusHjto.jpeg" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_OrtOlg3_8ifmr5gYy2U12Rk5r7PnHDLBEPqKHusHjto.jpeg" alt="Tiny ortolg3" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">雾霾变钻石的魔法在中国真的存在！</h3>
                                    </div>
                                </a>
                            </article>
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="/agenda/2016/06/Music-Industry">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_iwqURiQ6HZ3qJwXlZePBltHV4hnHfygU2QpwUhWdYCY.jpg" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_iwqURiQ6HZ3qJwXlZePBltHV4hnHfygU2QpwUhWdYCY.jpg" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">再次颠覆音乐产业的三大科技趋势</h3>
                                    </div>
                                </a>
                            </article>
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="/agenda/2016/06/emerging-tech-2016">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_dJVuqfJqWN2rs2k9Vs5nCjuo0Wr9HgZRFzwUQo9ca0w.png" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_dJVuqfJqWN2rs2k9Vs5nCjuo0Wr9HgZRFzwUQo9ca0w.png" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">2016年度十大新兴技术</h3>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <div class="meganav-section-end">
                        <a href="/agenda"> <span>阅读全文</span> <img src="./build/imgs/link-arrow-9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc.svg" alt="Link arrow" /> </a>
                    </div>
                </div>
            </div>
    </div>
    <div class="meganav-content" data-pane="events">
        <div class="meganav-content__description">
            <div class="row">
                <div class="small-12 columns">
                    论坛会议与活动：推动全球、区域与行业议程设定
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-6 columns">
                <div class="mega-list-group__header">
                    <span>会议预告</span>
                </div>
                <div class="mega-event-summary">
                    <div class="gutter-marking"></div>
                    <article class="tout tout--default tout--event">
                        <a class="tout__link" href="/events/india-economic-summit-2016">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="./build/imgs/upload/small_v0yPkGokoelOFh0r_E_7AAPtHUVJzRJ6Ic0us4LLDFM.jpeg" />
                                <img class="tiny-fallback" src="./build/imgs/upload/tiny_v0yPkGokoelOFh0r_E_7AAPtHUVJzRJ6Ic0us4LLDFM.jpeg" alt="Tiny v0ypkgokoelofh0r e 7aapthuvjzrj6ic0us4lldfm" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2016年印度经济峰会</h3>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span>6-7 October 2016</span>
                                        <span>New Delhi, India</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
            <div class="small-6 columns">
                <div class="mega-list-group__header">
                    <span>会议回顾</span>
                </div>
                <article class="tout tout--mini tout--event">
                    <a class="tout__link" href="">
                        <figure class="placeholder tiny">
                            <img class="image" alt="" src="./build/imgs/upload/tiny__BvRhZ2lihcEJ7S_ISGzLJrNTOnX1GVqV2MCppoEu5I.jpeg" />
                            <img class="tiny-fallback" src="./build/imgs/upload/tiny__BvRhZ2lihcEJ7S_ISGzLJrNTOnX1GVqV2MCppoEu5I.jpeg" alt="Tiny  bvrhz2lihcej7s isgzljrntonx1gvqv2mcppoeu5i" />
                        </figure>
                        <div class="tout__details">
                            <h3 class="tout__title">2016年新领军者年会</h3>
                            <div class="tout__meta">
                                <div class="caption">
                                    <span>26-28 June 2016</span>
                                    <span>Tianjin, People's Republic of China</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tout tout--mini tout--event">
                    <a class="tout__link" href="/events/world-economic-forum-on-latin-america-2016">
                        <figure class="placeholder tiny">
                            <img class="image" alt="" src="./build/imgs/upload/tiny_nrFCoW6lrUmoiwn2lgbiPmSyh03XuSxyYj_6PMIAE5w.jpeg" />
                            <img class="tiny-fallback" src="./build/imgs/upload/tiny_nrFCoW6lrUmoiwn2lgbiPmSyh03XuSxyYj_6PMIAE5w.jpeg" alt="Tiny nrfcow6lrumoiwn2lgbipmsyh03xusxyyj 6pmiae5w" />
                        </figure>
                        <div class="tout__details">
                            <h3 class="tout__title">2016年世界经济论坛拉美峰会</h3>
                            <div class="tout__meta">
                                <div class="caption">
                                    <span>16-17 June 2016</span>
                                    <span>Medellin, Colombia</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tout tout--mini tout--event">
                    <a class="tout__link" href="/events/world-economic-forum-on-asean-2016">
                        <figure class="placeholder tiny">
                            <img class="image" alt="" src="./build/imgs/upload/tiny_m4-_hzNRBbF8UePbfZEdPR8gr0hnIXJjExxTjId_e98.jpeg" />
                            <img class="tiny-fallback" src="./build/imgs/upload/tiny_m4-_hzNRBbF8UePbfZEdPR8gr0hnIXJjExxTjId_e98.jpeg" alt="Tiny m4  hznrbbf8uepbfzedpr8gr0hnixjjexxtjid e98" />
                        </figure>
                        <div class="tout__details">
                            <h3 class="tout__title">2016年世界经济论坛东亚峰会</h3>
                            <div class="tout__meta">
                                <div class="caption">
                                    <span>1-2 June 2016</span>
                                    <span>Kuala Lumpur, Malaysia</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="meganav-section-end">
                    <a href="/events"> <span>更多会议</span> <img src="./build/imgs/link-arrow-9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc.svg" alt="Link arrow 9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc" /> </a>
                </div>
            </div>
        </div>
    </div>
    <div class="meganav-content" data-pane="reports">
        <div class="meganav-content__description">
            <div class="row">
                <div class="small-12 columns">
                    论坛报告：开展广泛研究，关注全球性重点议题
                </div>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <div class="tout-list tout-list--grid">
                    <div class="tout-list--grid__container">
                        <article class="tout tout--default tout--report">
                            <a class="tout__link" href="/reports/global-information-technology-report-2016">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="./build/imgs/upload/small_Fj6nmCOpBdTUtJSeyCYAZNVa8kSd-WBQbKt3hkFemJ8.jpg" />
                                    <img class="tiny-fallback" src="./build/imgs/upload/tiny_Fj6nmCOpBdTUtJSeyCYAZNVa8kSd-WBQbKt3hkFemJ8.jpg" alt="Tiny fj6nmcopbdtutjseycyaznva8ksd wbqbkt3hkfemj8" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">2016年全球信息技术报告</h3>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span>1 Jul 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--report">
                            <a class="tout__link" href="/reports/human-capital-report-2016">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="./build/imgs/upload/small_Z1x0Cv-SU1vMvLBPz7x1jCtNsrcLVPQiM4diqsI0Y58.JPG" />
                                    <img class="tiny-fallback" src="./build/imgs/upload/tiny_Z1x0Cv-SU1vMvLBPz7x1jCtNsrcLVPQiM4diqsI0Y58.JPG" alt="Tiny z1x0cv su1vmvlbpz7x1jctnsrclvpqim4diqsi0y58" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">2016年人力资本报告</h3>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span>15 Jun 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--report">
                            <a class="tout__link" href="/reports/the-future-of-jobs">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="./build/imgs/upload/small_4QQCJrfsnv_rbX4Y2eaarz-wP7tG6x5LQLkPZk8joAQ.png" />
                                    <img class="tiny-fallback" src="./build/imgs/upload/tiny_4QQCJrfsnv_rbX4Y2eaarz-wP7tG6x5LQLkPZk8joAQ.png" alt="Tiny 4qqcjrfsnv rbx4y2eaarz wp7tg6x5lqlkpzk8joaq" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">未来就业报告</h3>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span>18 Jan 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="meganav-section-end">
                    <a href="/reports"> <span>更多报告</span> <img src="./build/imgs/link-arrow-9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc.svg" alt="Link arrow" /> </a>
                </div>
            </div>
        </div>
    </div>
    <div class="meganav-content" data-pane="projects">
        <div class="meganav-content__description">
            <div class="row">
                <div class="small-12 columns">
                    论坛项目：促进公私合作，应对最紧迫的全球性挑战
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <div class="gutter-marking"></div>
                <div class="mega-list-group__header">
                    <span class="list-group__title">“应对全球挑战”行动倡议</span>
                </div>
                <ul class="mega-list-group">
                    <li class="mega-list-group__item"> <a href="/global-challenges/future-of-the-internet">互联网的未来</a> </li>
                    <li class="mega-list-group__item"> <a href="/global-challenges/gender-parity">全球性别平等</a> </li>
                    <li class="mega-list-group__item"> <a href="/global-challenges/future-of-the-global-financial-system">全球金融体系的未来</a> </li>
                    <li class="mega-list-group__item"> <a href="/global-challenges/food-security-and-agriculture">农业与粮食安全</a> </li>
                    <li class="mega-list-group__item"> <a href="/global-challenges/international-trade-and-investment">国际贸易与投资</a> </li>
                    <li class="mega-list-group__item"> <a href="/global-challenges/employment-skills-and-human-capital">就业、技能与人力资本</a> </li>
                    <li class="mega-list-group__item"> <a href="/global-challenges/environment-and-resource-security">环境与资源安全</a> </li>
                    <li class="mega-list-group__item"> <a href="/global-challenges/economic-growth-and-social-inclusion">经济增长与社会包容</a> </li>
                    <li class="mega-list-group__item"> <a href="/global-challenges/long-term-investing-infrastructure-and-development">长期投资、基础设施与经济发展</a> </li>
                </ul>
            </div>
            <div class="small-8 columns">
                <div class="mega-list-group__header">
                    <span class="list-group__title">最新活动</span>
                </div>
                <div class="row">
                    <div class="columns">
                        <div class="tout-list tout-list--grid tout-list--grid-x2">
                            <div class="tout-list--grid__container">
                                <article class="tout tout--default tout--project">
                                    <a class="tout__link" href="">
                                        <figure class="placeholder small">
                                            <img class="image" alt="" src="./build/imgs/upload/fallback-small-cb8992567b66198e106a34e94fe769afd604a00c5b62e618c98a5e86ea27905b.png" />
                                            <img class="tiny-fallback" src="./build/imgs/upload/fallback-tiny-8cd872b56c710adb83ae38eb2116e34dee65b06883fa029367b994d5d9348447.png" alt="Fallback tiny" />
                                        </figure>
                                        <div class="tout__details">
                                            <div class="tout__topic caption"></div>
                                            <h3 class="tout__title">The Future of Jobs</h3>
                                        </div>
                                    </a>
                                </article>
                                <article class="tout tout--default tout--project">
                                    <a class="tout__link" href="">
                                        <figure class="placeholder small">
                                            <img class="image" alt="" src="./build/imgs/upload/small_yOlmD6caMEx5c1Jvxz-1D1oqelULlyEw9tspy0j783g.jpeg" />
                                            <img class="tiny-fallback" src="./build/imgs/upload/tiny_yOlmD6caMEx5c1Jvxz-1D1oqelULlyEw9tspy0j783g.jpeg" alt="Tiny" />
                                        </figure>
                                        <div class="tout__details">
                                            <div class="tout__topic caption"></div>
                                            <h3 class="tout__title">Promoting Global Financial Inclusion</h3>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="meganav-section-end">
                    <a href="/global-challenges"> <span>更多项目</span> <img src="./build/imgs/link-arrow-9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc.svg" alt="Link arrow" /> </a>
                </div>
            </div>
        </div>
    </div>
    <div class="meganav-content meganav-content--tall" data-pane="about">
        <div class="meganav-content__description">
            <div class="row">
                <div class="small-12 columns">
                    致力于改善全球状况
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <div class="gutter-marking"></div>
                <div class="mega-list-group__header">
                    <span class="list-group__title">关于我们</span>
                </div>
                <ul class="mega-list-group">
                    <li class="mega-list-group__item"> <a href="/about/our-mission">我们的使命</a> </li>
                    <li class="mega-list-group__item"> <a href="/about/communities">我们的社区</a> </li>
                    <li class="mega-list-group__item"> <a href="/about/our-members-partners">我们的会员与伙伴</a> </li>
                    <li class="mega-list-group__item"> <a href="/about/leadership-and-governance">领导团队</a> </li>
                    <li class="mega-list-group__item"> <a href="/about/our-history">我们的历史</a> </li>
                    <li class="mega-list-group__item"> <a href="/about/contact-us">联系我们 </a> </li>
                    <li class="mega-list-group__item"> <a href="/about/press">媒体</a> </li>
                    <li class="mega-list-group__item"> <a href="/about/career-opportunities">职业机会</a> </li>
                    <li class="mega-list-group__item"> <a href="/about/775175ff-9f09-45f1-b552-0a8c437b4847">声明</a> </li>
                    <li class="mega-list-group__item"> <a href="/about/privacy-and-terms-of-use">隐私和使用条款</a> </li>
                </ul>
            </div>
            <div class="small-8 columns">
                <div class="mega-list-group__header">
                    <span class="list-group__title">如何参与</span>
                </div>
                <div class="row">
                    <div class="columns">
                        <div class="tout-list tout-list--grid tout-list--grid-x2">
                            <div class="tout-list--grid__container">
                                <article class="tout tout--default tout--page">
                                    <a class="tout__link" href="/about/how-to-engage">
                                        <figure class="placeholder small">
                                            <img class="image" alt="" src="./build/imgs/upload/small_RwSyC4_HD2hYNRsuwyXVUM6rTAXJXFAAAc6vH69h9J8.jpg" />
                                            <img class="tiny-fallback" src="./build/imgs/upload/tiny_RwSyC4_HD2hYNRsuwyXVUM6rTAXJXFAAAc6vH69h9J8.jpg" alt="Tiny rwsyc4" />
                                        </figure>
                                        <div class="tout__details">
                                            <h3 class="tout__title">如何参与</h3>
                                        </div>
                                    </a>
                                </article>
                                <article class="tout tout--default tout--page">
                                    <a class="tout__link" href="/about/contact-us">
                                        <figure class="placeholder small">
                                            <img class="image" alt="" src="./build/imgs/upload/small_PsXgfRYxDz5WiNTQdqQi9K32ObkeSmzg-QaKGKMA36o.jpg" />
                                            <img class="tiny-fallback" src="./build/imgs/upload/tiny_PsXgfRYxDz5WiNTQdqQi9K32ObkeSmzg-QaKGKMA36o.jpg" alt="Tiny" />
                                        </figure>
                                        <div class="tout__details">
                                            <h3 class="tout__title">联系我们 </h3>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>