<footer>
    <div class="footer__wrapper">
        <div class="row">
            <div class="footer__newsletter">
                <div class="newsletter">
                    <div class="newsletter__callout">
                        <!--<b>订阅最新动态</b>-->
                        <div class="newsletter__callout__description">全球议题一周更新</div>
                    </div>
                    <!--<form action="" method="post" target="_blank" class="footer__form">
                        <div class="newsletter__form__field">
                            <input type="email" name="EMAIL" placeholder="电子邮箱" class="footer__form__input">
                            <input type="submit" value="订阅" name="subscribe" class="footer__form__submit">
                        </div>
                    </form>-->
                </div>
            </div>

            <div class="footer__socialmedia">
                <div class="footer__socialmedia-title">关注我们</div>
                <div class="footer__socialmedia-group">
                    <a href="" class="social-share--linkedin" target="_blank"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="footer__list-group">
            <div class="list-group">
                <div class="list-group__header">
                    <span>关于</span>
                </div>
                <div class="list-group__items">
                    <div class="list-group__item">
                        <a href="/about/our-mission">我们的使命</a>
                    </div>
                    <div class="list-group__item">
                        <a href="/about/communities">我们的社区</a>
                    </div>
                    <div class="list-group__item">
                        <a href="/about/our-members-partners">我们的会员与伙伴</a>
                    </div>
                    <div class="list-group__item">
                        <a href="/about/leadership-and-governance">领导团队</a>
                    </div>
                    <div class="list-group__item">
                        <a href="/about/our-history">我们的历史</a>
                    </div>
                    <div class="list-group__item">
                        <a href="/about/contact-us">联系我们 </a>
                    </div>
                    <div class="list-group__item">
                        <a href="/about/press">媒体</a>
                    </div>
                    <div class="list-group__item">
                        <a href="/about/career-opportunities">职业机会</a>
                    </div>
                    <div class="list-group__item">
                        <a href="/about/775175ff-9f09-45f1-b552-0a8c437b4847">声明</a>
                    </div>
                    <div class="list-group__item">
                        <a href="/about/privacy-and-terms-of-use">隐私和使用条款</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__list-group">
            <div class="list-group">
                <div class="list-group__header">
                    <span>媒体</span>
                </div>
                <div class="list-group__items">
                    <div class="list-group__item">
                        <a href="/press/">新闻</a>
                    </div>
                    <div class="list-group__item">
                        <a href="">许可</a>
                    </div>
                    <div class="list-group__item">
                        <a href="" target="_blank">订阅我们的新闻</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__list-group">
            <div class="list-group">
                <div class="list-group__header">
                    <span>会员和合作伙伴</span>
                </div>
                <div class="list-group__items">
                    <div class="list-group__item">
                        <a href="https://toplink.nnn.li/">会员登录Toplink</a>
                    </div>
                    <div class="list-group__item">
                        <a href="https://toplink.nnn.li/">战略合作伙伴</a>
                    </div>
                    <div class="list-group__item">
                        <a href="https://toplink.nnn.li/">合作机构</a>
                    </div>
                </div>
            </div>
        </div>
         <!--
        <div class="footer__list-group">
            <div class="list-group">
                <div class="list-group__header">
                    <span>全球站点</span>
                </div>
                <div class="list-group__items">
                    <div class="list-group__item">
                        <a href="http://www.nnn.li/">English</a>
                    </div>
                    <div class="list-group__item">
                        <a href="https://agenda.nnn.li/espanol/">Español</a>
                    </div>
                    <div class="list-group__item">
                        <a href="http://www.weforum.jp/">日本語</a>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="footer__info-container">
                <div class="footer__info-group">
                    © 2016 世界经济论坛
                </div>
                <div class="footer__info-group">
                    <a href="">隐私权政策和服务条款</a>
                </div>
            </div>
        </div>
    </div>
</footer>