<header>
    <div class="row nav">
        <ul class="header-container">
            <a class="drawer-icon js-show-hide-menu">
                <img src="./build/imgs/hamburger-d4a8924e2554b1c8a9206e72c97a44cc624d3da299ccb9e9d4a2a8ef37e76f72.svg" alt="Hamburger" />
            </a>
            <li class="header-item logo">
                <a href="/"><img class="header-wef__logo" src="./build/imgs/logo-d8b23e233f85a1af9093a1946e18cff462b0ca82fcd720e2a9633270e53a0bcd.svg" alt="Logo" /></a>
            </li>

            <div class="header-pane-selectors">
                <li class="header-pane" data-pane="agenda">
                    <a class="header-item__link" href=agenda">议题</a>
                </li>
                <li class="header-pane" data-pane="events">
                    <a class="header-item__link" href="">会议</a>
                </li>
                <li class="header-pane" data-pane="reports">
                    <a class="header-item__link" href="">报告</a>
                </li>
                <li class="header-pane" data-pane="projects">
                    <a class="header-item__link" href="">项目</a>
                </li>
                <li class="header-pane" data-pane="about">
                    <a class="header-item__link" href="">关于</a>
                </li>
            </div>
        </ul>
    </div>
</header>