<section>
    <div class="global-challenges-page">
        <div class="global-challenge-header" style="background-image: url('/assets/more-projects-aad472c052fac052b43594bd6baeb04586e28519b391eee12ea8d7e455ba3458.jpg');">
            <div class="row">
                <div class="small-12 columns">
                    <div class="global-challenge-wrapper">
                        <h1 class="page-title"> 更多论坛项目 </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="global-challenge-about"></div>
        </div>
        <div class="row">
            <div class="columns">
                <h2 class="sub-title">项目</h2>
                <div class="tout-list tout-list--grid tout-list--grid-x2">
                    <div class="tout-list--grid__container">
                        <article class="tout tout--default tout--project">
                            <a class="tout__link" href="/global-challenges/projects/growth-and-competitiveness-lab-europe">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="/assets/fallback-small-cb8992567b66198e106a34e94fe769afd604a00c5b62e618c98a5e86ea27905b.png" />
                                    <img class="tiny-fallback" src="/assets/fallback-tiny-8cd872b56c710adb83ae38eb2116e34dee65b06883fa029367b994d5d9348447.png" alt="Fallback tiny 8cd872b56c710adb83ae38eb2116e34dee65b06883fa029367b994d5d9348447" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">Growth and Competitiveness Lab Europe</h3>
                                    <p class="tout__description">Competitiveness is recognized as a key driver of growth. Improving competitiveness while ensuring the inclusiveness of the growth process requires coordinated action between the public an...</p>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__published-at">17 Aug 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--project">
                            <a class="tout__link" href="/global-challenges/projects/digital-trade-policy">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="https://assets-cn.weforum.org/project/image/small_p9HG1Ww3oKkvQodgCCvPgYu6eOjxZ7GSh06-NM9P0Y0.jpeg" />
                                    <img class="tiny-fallback" src="https://assets-cn.weforum.org/project/image/tiny_p9HG1Ww3oKkvQodgCCvPgYu6eOjxZ7GSh06-NM9P0Y0.jpeg" alt="Tiny p9hg1ww3okkvqodgccvpgyu6eojxz7gsh06 nm9p0y0" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">Digital Trade Policy</h3>
                                    <p class="tout__description">Business leaders at the World Economic Forum Annual Meeting in January 2016, highlighted the need for new digital-ready trade and investment policy. This will empower new forms of commerc...</p>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__published-at">20 Jul 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--project">
                            <a class="tout__link" href="/global-challenges/projects/silk-road-to-economic-prosperity">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="/assets/fallback-small-cb8992567b66198e106a34e94fe769afd604a00c5b62e618c98a5e86ea27905b.png" />
                                    <img class="tiny-fallback" src="/assets/fallback-tiny-8cd872b56c710adb83ae38eb2116e34dee65b06883fa029367b994d5d9348447.png" alt="Fallback tiny 8cd872b56c710adb83ae38eb2116e34dee65b06883fa029367b994d5d9348447" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">Silk Road to Economic Prosperity</h3>
                                    <p class="tout__description"> In 2016, the World Economic Forum launched the Silk Road to Economic Prosperity initiative, bringing together Europe, Eurasia, Asia and the Middle East. Efforts to rebuild the historica...</p>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__published-at">10 Jun 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--project">
                            <a class="tout__link" href="/global-challenges/projects/tropical-forest-alliance-2020">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="https://assets-cn.weforum.org/project/image/small_Cw_PRnGNiZzhlUnCYWrt_fstgZ8pjr6kRJ9dA7tFGOI.jpeg" />
                                    <img class="tiny-fallback" src="https://assets-cn.weforum.org/project/image/tiny_Cw_PRnGNiZzhlUnCYWrt_fstgZ8pjr6kRJ9dA7tFGOI.jpeg" alt="Tiny cw prngnizzhluncywrt fstgz8pjr6krj9da7tfgoi" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">Tropical Forest Alliance 2020</h3>
                                    <p class="tout__description">The Tropical Forest Alliance 2020 is a global public-private partnership dedicated to collaborative action to realize sustainable rural development and better growth opportunities based o...</p>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__published-at">6 Jun 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--project">
                            <a class="tout__link" href="/global-challenges/projects/global-alliance-for-trade-facilitation">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="https://assets-cn.weforum.org/project/image/small_cgP79kWInC-1_ewh7DItS4P57AriE5hA7wfpqV0Y9tU.jpeg" />
                                    <img class="tiny-fallback" src="https://assets-cn.weforum.org/project/image/tiny_cgP79kWInC-1_ewh7DItS4P57AriE5hA7wfpqV0Y9tU.jpeg" alt="Tiny cgp79kwinc 1 ewh7dits4p57arie5ha7wfpqv0y9tu" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">Global Alliance for Trade Facilitation</h3>
                                    <p class="tout__description">The World Trade Organization’s Trade Facilitation Agreement (TFA) provides a unique opportunity to enable trade as a central driver of development. Trade facilitation reforms can play an ...</p>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__published-at">6 Jun 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--project">
                            <a class="tout__link" href="/global-challenges/projects/corporate-social-innovation">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="https://assets-cn.weforum.org/project/image/small_PVhjB4au7UPFxyJqxwvRJLSE5qpHrsle1KEcKPZ591M.jpeg" />
                                    <img class="tiny-fallback" src="https://assets-cn.weforum.org/project/image/tiny_PVhjB4au7UPFxyJqxwvRJLSE5qpHrsle1KEcKPZ591M.jpeg" alt="Tiny pvhjb4au7upfxyjqxwvrjlse5qphrsle1keckpz591m" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">Corporate Social Innovation</h3>
                                    <p class="tout__description">The business world is increasingly taking note of the risks and opportunities posed by social and environmental issues for business sustainability and competitiveness. For the first time,...</p>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__published-at">6 Jun 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--project">
                            <a class="tout__link" href="/global-challenges/projects/scenarios-for-the-south-caucasus-and-central-asia">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="https://assets-cn.weforum.org/project/image/small_gHHIy0kuKUoWUwneBAPStN59AhLrII2MPxFEG7NITzU.jpeg" />
                                    <img class="tiny-fallback" src="https://assets-cn.weforum.org/project/image/tiny_gHHIy0kuKUoWUwneBAPStN59AhLrII2MPxFEG7NITzU.jpeg" alt="Tiny ghhiy0kukuowuwnebapstn59ahlrii2mpxfeg7nitzu" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">Scenarios for the South Caucasus and Central Asia</h3>
                                    <p class="tout__description">The South Caucasus and Central Asia is a region often viewed through a narrow historical lens, yet the region has untapped potential to play an important economic role in the world. As co...</p>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__published-at">6 Jun 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--project">
                            <a class="tout__link" href="/global-challenges/projects/the-future-availability-of-natural-resources">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="https://assets-cn.weforum.org/project/image/small_-9UfW4pNiv0gRD39hGBlroApgkCjysZdsB7oMd2U__U.jpeg" />
                                    <img class="tiny-fallback" src="https://assets-cn.weforum.org/project/image/tiny_-9UfW4pNiv0gRD39hGBlroApgkCjysZdsB7oMd2U__U.jpeg" alt="Tiny  9ufw4pniv0grd39hgblroapgkcjyszdsb7omd2u  u" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">The Future Availability of Natural Resources</h3>
                                    <p class="tout__description">This project takes a novel approach to enhance the understanding of natural resource availability over a 20-year time frame. It combines an analysis of the important factors of supply and...</p>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__published-at">6 Jun 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--project">
                            <a class="tout__link" href="/global-challenges/projects/shaping-the-future-implications-of-digital-media-for-society">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="https://assets-cn.weforum.org/project/image/small_4zkbLczLescT3z_yutjmRN41mfUU_Y9bgRlcBsjU-XE.jpeg" />
                                    <img class="tiny-fallback" src="https://assets-cn.weforum.org/project/image/tiny_4zkbLczLescT3z_yutjmRN41mfUU_Y9bgRlcBsjU-XE.jpeg" alt="Tiny 4zkblczlesct3z yutjmrn41mfuu y9bgrlcbsju xe" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">Shaping the Future Implications of Digital Media for Society</h3>
                                    <p class="tout__description">Technological and digital innovations increasingly affect how we engage with media, entertainment and information (MEI). They also affect how we connect and interact with one another and ...</p>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__published-at">6 Jun 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--project">
                            <a class="tout__link" href="/global-challenges/projects/shaping-the-future-of-digital-communications">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="https://assets-cn.weforum.org/project/image/small_LHcZp6Qw8brvYj2yhGUQ787PLtkN0S6mMYpN-f4tdjY.jpeg" />
                                    <img class="tiny-fallback" src="https://assets-cn.weforum.org/project/image/tiny_LHcZp6Qw8brvYj2yhGUQ787PLtkN0S6mMYpN-f4tdjY.jpeg" alt="Tiny lhczp6qw8brvyj2yhguq787pltkn0s6mmypn f4tdjy" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">Shaping the Future of Digital Communications</h3>
                                    <p class="tout__description">During 2015 this project has been steered by the Global Agenda Council on Future of Digital Communications focusing on two work streams: proposing alignment on a forward looking regulator...</p>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__published-at">6 Jun 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--project">
                            <a class="tout__link" href="/global-challenges/projects/shaping-the-future-of-construction">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="https://assets-cn.weforum.org/project/image/small_c_E4MPl5skrwAZFuyTHK0heDPE2n4_vv11hLLgG8C8Y.jpeg" />
                                    <img class="tiny-fallback" src="https://assets-cn.weforum.org/project/image/tiny_c_E4MPl5skrwAZFuyTHK0heDPE2n4_vv11hLLgG8C8Y.jpeg" alt="Tiny c e4mpl5skrwazfuythk0hedpe2n4 vv11hllgg8c8y" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">Shaping the Future of Construction</h3>
                                    <p class="tout__description">The nature of the construction industry is changing, mainly driven by technology, the massive urbanization, the need of a more sustainable economy and by an increasing complexity and size...</p>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__published-at">6 Jun 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--project">
                            <a class="tout__link" href="/global-challenges/projects/disrupting-unemployment-best-practices-platform">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="/assets/fallback-small-cb8992567b66198e106a34e94fe769afd604a00c5b62e618c98a5e86ea27905b.png" />
                                    <img class="tiny-fallback" src="/assets/fallback-tiny-8cd872b56c710adb83ae38eb2116e34dee65b06883fa029367b994d5d9348447.png" alt="Fallback tiny 8cd872b56c710adb83ae38eb2116e34dee65b06883fa029367b994d5d9348447" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">Disrupting Unemployment Best Practices Platform</h3>
                                    <p class="tout__description">As expressed in previous discussions within the International Business Council and other communities of the Forum, there is an urgent need for greater collaboration and alignment to effec...</p>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__published-at">6 Jun 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
            <% include ../layout/pagination.html %>
        </div>
    </div>
</section>