<section>
    <div class="homepage">
        <div class="row">
            <div class="small-12 columns">
                <article class="tout tout--hero tout--article">
                    <a class="tout__link" href="">
                        <figure class="placeholder large">
                            <img class="image" src="./build/imgs/upload/large_OqN3002swRePy7MBSmU4DssD8abNbrsQGYuGBYV3WfY.png" alt="" />
                            <img class="tiny-fallback" src="./build/imgs/upload/tiny_OqN3002swRePy7MBSmU4DssD8abNbrsQGYuGBYV3WfY.png" alt="Tiny" />
                        </figure>
                        <div class="tout__details">
                            <div class="tout__topic caption"></div>
                            <h3 class="tout__title">林毅夫：带动全球发展的下一个领头人是中国</h3>
                            <div class="tout__meta">
                                <div class="caption">
                                    <span class="article__author bold">Justin Yifu Lin</span>
                                    <span>16 Aug 2016</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="columns tout-list tout-list--grid">
                <div class="tout-list--grid__container">
                    <article class="tout tout--default tout--article">
                        <a class="tout__link" href="">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="./build/imgs/upload/small_8J6AilQoEnWLjRsvGazW1b81tpWf0hm_bIqpHDRWiJY.jpeg" />
                                <img class="tiny-fallback" src="./build/imgs/upload/tiny_8J6AilQoEnWLjRsvGazW1b81tpWf0hm_bIqpHDRWiJY.jpeg" alt="Tiny" />
                            </figure>
                            <div class="tout__details">
                                <div class="tout__topic caption"></div>
                                <h3 class="tout__title">比尔盖茨：了解人工智能，应该读这两本书</h3>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__author bold">Thu-Huong Ha</span>
                                        <span>16 Aug 2016</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--article">
                        <a class="tout__link" href="">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="./build/imgs/upload/small_UNAZ-oKq9Vvd-zcaRuQj16JwIKgLyFdgq-APcuI5zoM.png" />
                                <img class="tiny-fallback" src="./build/imgs/upload/tiny_UNAZ-oKq9Vvd-zcaRuQj16JwIKgLyFdgq-APcuI5zoM.png" alt="Tiny" />
                            </figure>
                            <div class="tout__details">
                                <div class="tout__topic caption"></div>
                                <h3 class="tout__title">现在才八月，可我们已经把今年的自然资源都用完了！</h3>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__author bold">Joe Myers</span>
                                        <span>17 Aug 2016</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--article">
                        <a class="tout__link" href="/agenda/2016/08/7f95c280-fc9b-4361-9ecd-1c1375323350">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="./build/imgs/upload/small_7RZtCW95iJSTplcLxAQolo-s2C8Ii2HVQkE8pU7vl78.jpg" />
                                <img class="tiny-fallback" src="./build/imgs/upload/tiny_7RZtCW95iJSTplcLxAQolo-s2C8Ii2HVQkE8pU7vl78.jpg" alt="Tiny" />
                            </figure>
                            <div class="tout__details">
                                <div class="tout__topic caption"></div>
                                <h3 class="tout__title">企业应当如何应对中国水危机？</h3>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__author bold"></span>
                                        <span>10 Aug 2016</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="bottom-border"></div>
            </div>
            <div class="small-12 columns">
                <div class="strapline">
                    世界经济论坛是一个致力于通过公私合作改善世界状况的国际机构。
                </div>
            </div>
            <div class="small-12 columns">
                <div class="press-release-container">
                    <div class="press-release__content">
                        <div class="press-release__caption">
                            <span class="bold">新闻通稿</span>
                            <span>8 天 发布时间</span>
                        </div>
                        <a class="press-release__text" href="/press/2016/08/4c831d64-e168-4a57-85ad-22313716fde9">全球青年调查：“全球公民”一代担忧腐败、气候变化和机会缺失</a>
                    </div>
                    <div class="press-release__more">
                        <a class="press-release__trigger" href="/press"> <span>所有媒体</span><img src="./build/imgs/thin-chevron-8a1b04b5181ea90a0b42486358eb215e5c907b3aba8d6e1fb852d05d2eda620b.svg" alt="Thin" /> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="highlights-section border-bottom">
        <div class="row">
            <div class="small-12 columns">
                <div class="events-header">
                    议题表
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 large-8 columns">
                <div class="gutter-marking"></div>
                <div class="sbs-section-header">
                    <span>全球议题</span>
                </div>
                <article class="tout tout--large tout--article">
                    <a class="tout__link" href="/agenda/2016/08/26dfe3af-6a38-4eb2-b72c-2960f195a8ab">
                        <figure class="placeholder small">
                            <img class="image" alt="" src="./build/imgs/upload/small_45AmZZ8RSbjiXet1VO2Q3a2PJbCRepdIp_NOBm815jc.jpeg" />
                            <img class="tiny-fallback" src="./build/imgs/upload/tiny_45AmZZ8RSbjiXet1VO2Q3a2PJbCRepdIp_NOBm815jc.jpeg" alt="Tiny" />
                        </figure>
                        <div class="tout__details">
                            <h3 class="tout__title">它竟然是世界上最环保、最幸福的国家！</h3>
                            <div class="tout__meta">
                                <div class="caption">
                                    <span class="article__author bold">Anna Bruce-Lockhart</span>
                                    <span>17 Aug 2016</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tout tout--large tout--article">
                    <a class="tout__link" href="/agenda/2016/08/386c03df-5de0-4fe4-8efe-ef381b76a42a">
                        <figure class="placeholder small">
                            <img class="image" alt="" src="./build/imgs/upload/small_UNAZ-oKq9Vvd-zcaRuQj16JwIKgLyFdgq-APcuI5zoM.png" />
                            <img class="tiny-fallback" src="./build/imgs/upload/tiny_UNAZ-oKq9Vvd-zcaRuQj16JwIKgLyFdgq-APcuI5zoM.png" alt="Tiny unaz" />
                        </figure>
                        <div class="tout__details">
                            <h3 class="tout__title">现在才八月，可我们已经把今年的自然资源都用完了！</h3>
                            <div class="tout__meta">
                                <div class="caption">
                                    <span class="article__author bold">Joe Myers</span>
                                    <span>17 Aug 2016</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tout tout--large tout--article">
                    <a class="tout__link" href="/agenda/2016/08/ac3f9324-60af-4aa4-820a-6429ef40bc3c">
                        <figure class="placeholder small">
                            <img class="image" alt="" src="./build/imgs/upload/small__mXCeQqgPmmTFWA7oYDW0ODWrDtcdIH4jNVxcLahs9Q.jpg" />
                            <img class="tiny-fallback" src="./build/imgs/upload/tiny__mXCeQqgPmmTFWA7oYDW0ODWrDtcdIH4jNVxcLahs9Q.jpg" alt="Tiny" />
                        </figure>
                        <div class="tout__details">
                            <h3 class="tout__title">全球化使我们的经济更容易受到气候变化的影响</h3>
                            <div class="tout__meta">
                                <div class="caption">
                                    <span class="article__author bold">Leonie Wenz</span>
                                    <span>16 Aug 2016</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
            </div>
            <div class="small-12 medium-6 large-4 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="sbs-section-header">
                            <span>地区议题</span>
                        </div>
                        <article class="tout tout--mini tout--article">
                            <a class="tout__link" href="/agenda/2016/08/7f95c280-fc9b-4361-9ecd-1c1375323350">
                                <figure class="placeholder tiny">
                                    <img class="image" alt="" src="./build/imgs/upload/tiny_7RZtCW95iJSTplcLxAQolo-s2C8Ii2HVQkE8pU7vl78.jpg" />
                                    <img class="tiny-fallback" src="./build/imgs/upload/tiny_7RZtCW95iJSTplcLxAQolo-s2C8Ii2HVQkE8pU7vl78.jpg" alt="Tiny" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">企业应当如何应对中国水危机？</h3>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__author bold"></span>
                                            <span>10 Aug 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--mini tout--article">
                            <a class="tout__link" href="/agenda/2016/07/2680b551-a7e0-4c9e-be13-15375cadefa0">
                                <figure class="placeholder tiny">
                                    <img class="image" alt="" src="./build/imgs/upload/tiny__1OdK_McqnkTwaboFkI8HStpelz2K344mXA4WtwhZHM.png" />
                                    <img class="tiny-fallback" src="./build/imgs/upload/tiny__1OdK_McqnkTwaboFkI8HStpelz2K344mXA4WtwhZHM.png" alt="Tiny" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">中国惊艳全球科学界的五大超级工程</h3>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__author bold"></span>
                                            <span>29 Jul 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--mini tout--article">
                            <a class="tout__link" href="/agenda/2016/07/3eef766a-53a6-40fb-b8bc-c0203150eb05">
                                <figure class="placeholder tiny">
                                    <img class="image" alt="" src="./build/imgs/upload/tiny_0GwiKx--9OopQL6NZNLPBniSZ1ekThSR9n0LqOrRJ_s.png" />
                                    <img class="tiny-fallback" src="./build/imgs/upload/tiny_0GwiKx--9OopQL6NZNLPBniSZ1ekThSR9n0LqOrRJ_s.png" alt="Tiny" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">中国视角：怎样教孩子们创新？</h3>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__author bold"></span>
                                            <span>22 Jul 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
            <div class="small-12 medium-6 large-4 columns">
                <div class="row">
                    <div class="small-12 columns">
                        <div class="sbs-section-header">
                            <span>行业议题</span>
                        </div>
                        <article class="tout tout--mini tout--article">
                            <a class="tout__link" href="/agenda/2016/07/8c58bf51-abe3-4be4-b8d0-8f7bb6dc073c">
                                <figure class="placeholder tiny">
                                    <img class="image" alt="" src="./build/imgs/upload/tiny_OrtOlg3_8ifmr5gYy2U12Rk5r7PnHDLBEPqKHusHjto.jpeg" />
                                    <img class="tiny-fallback" src="./build/imgs/upload/tiny_OrtOlg3_8ifmr5gYy2U12Rk5r7PnHDLBEPqKHusHjto.jpeg" alt="Tiny" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">雾霾变钻石的魔法在中国真的存在！</h3>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__author bold"></span>
                                            <span>25 Jul 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--mini tout--article">
                            <a class="tout__link" href="/agenda/2016/06/Music-Industry">
                                <figure class="placeholder tiny">
                                    <img class="image" alt="" src="./build/imgs/upload/tiny_iwqURiQ6HZ3qJwXlZePBltHV4hnHfygU2QpwUhWdYCY.jpg" />
                                    <img class="tiny-fallback" src="./build/imgs/upload/tiny_iwqURiQ6HZ3qJwXlZePBltHV4hnHfygU2QpwUhWdYCY.jpg" alt="Tiny" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">再次颠覆音乐产业的三大科技趋势</h3>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__author bold">Cortney Harding</span>
                                            <span>25 Jun 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--mini tout--article">
                            <a class="tout__link" href="/agenda/2016/06/emerging-tech-2016">
                                <figure class="placeholder tiny">
                                    <img class="image" alt="" src="./build/imgs/upload/tiny_dJVuqfJqWN2rs2k9Vs5nCjuo0Wr9HgZRFzwUQo9ca0w.png" />
                                    <img class="tiny-fallback" src="./build/imgs/upload/tiny_dJVuqfJqWN2rs2k9Vs5nCjuo0Wr9HgZRFzwUQo9ca0w.png" alt="Tiny" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">2016年度十大新兴技术</h3>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span class="article__author bold">Media Team</span>
                                            <span>23 Jun 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>