<section>
    <div class="page row page--person-profile person">
        <div class="page__sidebar">
            <figure class="placeholder small">
                <img class="image" alt="" src="https://assets-cn.weforum.org/sf_account/image/small_qgQfufLTcXJghrxJqTG0qDpaR8bvADr8gZjhgtJtf6Y.jpeg" />
                <img class="tiny-fallback" src="https://assets-cn.weforum.org/sf_account/image/tiny_qgQfufLTcXJghrxJqTG0qDpaR8bvADr8gZjhgtJtf6Y.jpeg" alt="Tiny" />
            </figure>
            <div class="page__subpage-title">
                Zheng Zhenzhen
            </div>
            <p>Professor, Institute of Population and Labour Economics, Chinese Academy of Social Sciences (CASS)</p>
        </div>
        <div class="page__content">
            <p>PhD in Demography, Peking University. 1993- 2003, associate professor at Peking University; 2003-,professor at Institute of Population and Labor Economics, CASS; research interests: statistical demography, population and gender studies, and
                social science research in reproductive health; current research focuses on fertility intention and childbearing behaviour, migration and rural women’s development, and ageing study.</p>
        </div>
    </div>
</section>