<section>
    <div class="page row">
        <div class="page__sidebar">
            <nav class="about-page__nav">
                <ul class="page__items">
                    <li class="list-group__header"> <span>关于</span> </li>
                    <li class="page__item"> <a class="page__item" href="/about/our-mission">我们的使命</a> </li>
                    <li class="page__item"> <a class="page__item" href="/about/communities">我们的社区</a> </li>
                    <li class="page__item"> <a class="page__item" href="/about/our-members-partners">我们的会员与伙伴</a> </li>
                    <li class="page__item"> <a class="page__item" href="/about/leadership-and-governance">领导团队</a> </li>
                    <li class="page__item"> <a class="page__item" href="/about/our-history">我们的历史</a> </li>
                    <li class="page__item"> <a class="page__item" href="/about/contact-us">联系我们 </a> </li>
                    <li class="page__item">
                        <div class="page__item--active-container">
                            <div class="bold">
                                <a class="page__item--active-parent" href="/about/press">媒体</a>
                            </div>
                        </div>
                        <ul class="page__items page__items--media">
                            <li class="page__item"> <img src="/assets/thin-chevron-8a1b04b5181ea90a0b42486358eb215e5c907b3aba8d6e1fb852d05d2eda620b.svg" alt="Thin chevron 8a1b04b5181ea90a0b42486358eb215e5c907b3aba8d6e1fb852d05d2eda620b" /> <a class="bold" href="/press/news">新闻</a>                                </li>
                        </ul>
                    </li>
                    <li class="page__item"> <a class="page__item" href="/about/career-opportunities">职业机会</a> </li>
                    <li class="page__item"> <a class="page__item" href="/about/775175ff-9f09-45f1-b552-0a8c437b4847">声明</a> </li>
                    <li class="page__item"> <a class="page__item" href="/about/privacy-and-terms-of-use">隐私和使用条款</a> </li>
                </ul>
            </nav>
        </div>
        <div class="media-articles-list-content">
            <h1 class="page-title">新闻稿</h1>
            <div class="media-articles-list">
                <div class="media-article">
                    <a class="media-article__link" href="/press/2016/08/4c831d64-e168-4a57-85ad-22313716fde9">全球青年调查：“全球公民”一代担忧腐败、气候变化和机会缺失</a>
                    <div class="media-article__metadata">
                        <span class="caption bold">News</span>
                        <span class="caption">22 Aug 2016</span>
                    </div>
                </div>
                <div class="media-article">
                    <a class="media-article__link" href="/press/2016/08/932fe38b-9726-400e-8852-64b0fe974f7e">区块链技术将成为全球金融系统的核心</a>
                    <div class="media-article__metadata">
                        <span class="caption bold">Report News</span>
                        <span class="caption">17 Aug 2016</span>
                    </div>
                </div>
                <div class="media-article">
                    <a class="media-article__link" href="/press/2016/07/GITR">智能手机与专利提升2016年中国数字竞争力</a>
                    <div class="media-article__metadata">
                        <span class="caption bold">Report News</span>
                        <span class="caption">6 Jul 2016</span>
                    </div>
                </div>
                <div class="media-article">
                    <a class="media-article__link" href="/press/2016/06/HCI">35%的人力资源在当今经济环境下无法得到充分利用</a>
                    <div class="media-article__metadata">
                        <span class="caption bold">News</span>
                        <span class="caption">28 Jun 2016</span>
                    </div>
                </div>
                <div class="media-article">
                    <a class="media-article__link" href="/press/2016/06/Chinabusinesscontext">在中国全新的商业环境中，技术必须对经济增长发挥更大推动作用</a>
                    <div class="media-article__metadata">
                        <span class="caption bold">News</span>
                        <span class="caption">27 Jun 2016</span>
                    </div>
                </div>
                <div class="media-article">
                    <a class="media-article__link" href="/press/2016/06/Fintech">比特币和区块链技术引领全球金融革命</a>
                    <div class="media-article__metadata">
                        <span class="caption bold">News</span>
                        <span class="caption">27 Jun 2016</span>
                    </div>
                </div>
                <div class="media-article">
                    <a class="media-article__link" href="/press/2016/06/TP">技术先锋们混合最新技术以启动扰乱行业秩序的下一波浪潮</a>
                    <div class="media-article__metadata">
                        <span class="caption bold">News</span>
                        <span class="caption">27 Jun 2016</span>
                    </div>
                </div>
                <div class="media-article">
                    <a class="media-article__link" href="/press/2016/06/eyelliance">高瞻远瞩：改善世界人口视力如何产生2270亿美元经济价值并帮助25亿人口</a>
                    <div class="media-article__metadata">
                        <span class="caption bold">Event News</span>
                        <span class="caption">26 Jun 2016</span>
                    </div>
                </div>
                <div class="media-article">
                    <a class="media-article__link" href="/press/2016/06/emerging-tech-2016">电池供电村庄和社交机器人入选世界经济论坛2016年度十大新兴技术榜单</a>
                    <div class="media-article__metadata">
                        <span class="caption bold">News</span>
                        <span class="caption">23 Jun 2016</span>
                    </div>
                </div>
                <div class="media-article">
                    <a class="media-article__link" href="/press/2016/06/ys_cn">世界经济论坛在新领军者年会表彰2016年青年科学家社区</a>
                    <div class="media-article__metadata">
                        <span class="caption bold">News</span>
                        <span class="caption">22 Jun 2016</span>
                    </div>
                </div>
                <div class="media-article">
                    <a class="media-article__link" href="/press/2016/06/amnc16-1">第十届新领军者年会将聚焦第四次工业革命</a>
                    <div class="media-article__metadata">
                        <span class="caption bold">News</span>
                        <span class="caption">16 Jun 2016</span>
                    </div>
                </div>
                <div class="media-article">
                    <a class="media-article__link" href="/press/2015/08/2d9216ce-bfd8-4353-976c-207783b9aef6">世界经济论坛任命新在华负责人 </a>
                    <div class="media-article__metadata">
                        <span class="caption bold">News</span>
                        <span class="caption">16 Aug 2015</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>