<!doctype html>
<html class="no-js" lang="zh-CN" build="Julian">
<% include layout/head.html %>
<body>
<% include layout/side-drawer.html %>
<% include layout/cookie.html %>
<div class="content-container">
<% include layout/header.html %>
<% include layout/meganav.html %>
<% include module/reports-show.html %>
<% include layout/footer.html %>
</div>
</body>
</html>