<!doctype html>
<html class="no-js" lang="zh-CN" build="Julian">
<head>
    <title>议题 | World Economic Forum</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nnn.li/" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="世界经济论坛" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://nnn.li/" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:description" content="" />
    <link rel="stylesheet" media="all" href="./build/css/application.css" />
    <link rel="stylesheet" media="print" href="./build/css/print.css" />
    <link rel="stylesheet" media="all" href="./build/css/app.css" />
    <link rel="stylesheet" media="all" href="//fast.fonts.net/cssapi/4946bd2e-8cbd-461c-8121-ca6696f6267d.css" />
    <link rel="canonical" href="https://nnn.li/" />
    <link rel="alternate" type="application/atom+xml" title="ATOM" href="https://nnn.li/feed" />
    <script src="./build/js/application.js"></script>
    <script src="./build/js/app.js"></script>
    <script>
        //<![CDATA[
       !function(e,t,n){function r(e,t){return typeof e===t}function o(){var e,t,n,o,a,i,s;for(var l in C){if(C.hasOwnProperty(l)){if(e=[],t=C[l],t.name&&(e.push(t.name.toLowerCase()),t.options&&t.options.aliases&&t.options.aliases.length)){for(n=0;n<t.options.aliases.length;n++){e.push(t.options.aliases[n].toLowerCase())}}for(o=r(t.fn,"function")?t.fn():t.fn,a=0;a<e.length;a++){i=e[a],s=i.split("."),1===s.length?Modernizr[s[0]]=o:(!Modernizr[s[0]]||Modernizr[s[0]] instanceof Boolean||(Modernizr[s[0]]=new Boolean(Modernizr[s[0]])),Modernizr[s[0]][s[1]]=o),y.push((o?"":"no-")+s.join("-"))}}}}function a(e){var t=S.className,n=Modernizr._config.classPrefix||"";if(b&&(t=t.baseVal),Modernizr._config.enableJSClass){var r=new RegExp("(^|\\s)"+n+"no-js(\\s|$)");t=t.replace(r,"$1"+n+"js$2")}Modernizr._config.enableClasses&&(t+=" "+n+e.join(" "+n),b?S.className.baseVal=t:S.className=t)}function i(e,t){return !!~(""+e).indexOf(t)}function s(){return"function"!=typeof t.createElement?t.createElement(arguments[0]):b?t.createElementNS.call(t,"http://www.w3.org/2000/svg",arguments[0]):t.createElement.apply(t,arguments)}function l(e){return e.replace(/([a-z])-([a-z])/g,function(e,t,n){return t+n.toUpperCase()}).replace(/^-/,"")}function c(e,t){return function(){return e.apply(t,arguments)}}function u(e,t,n){var o;for(var a in e){if(e[a] in t){return n===!1?e[a]:(o=t[e[a]],r(o,"function")?c(o,n||t):o)}}return !1}function f(e){return e.replace(/([A-Z])/g,function(e,t){return"-"+t.toLowerCase()}).replace(/^ms-/,"-ms-")}function d(){var e=t.body;return e||(e=s(b?"svg":"body"),e.fake=!0),e}function p(e,n,r,o){var a,i,l,c,u="modernizr",f=s("div"),p=d();if(parseInt(r,10)){for(;r--;){l=s("div"),l.id=o?o[r]:u+(r+1),f.appendChild(l)}}return a=s("style"),a.type="text/css",a.id="s"+u,(p.fake?p:f).appendChild(a),p.appendChild(f),a.styleSheet?a.styleSheet.cssText=e:a.appendChild(t.createTextNode(e)),f.id=u,p.fake&&(p.style.background="",p.style.overflow="hidden",c=S.style.overflow,S.style.overflow="hidden",S.appendChild(p)),i=n(f,e),p.fake?(p.parentNode.removeChild(p),S.style.overflow=c,S.offsetHeight):f.parentNode.removeChild(f),!!i}function m(t,r){var o=t.length;if("CSS" in e&&"supports" in e.CSS){for(;o--;){if(e.CSS.supports(f(t[o]),r)){return !0}}return !1}if("CSSSupportsRule" in e){for(var a=[];o--;){a.push("("+f(t[o])+":"+r+")")}return a=a.join(" or "),p("@supports ("+a+") { #modernizr { position: absolute; } }",function(e){return"absolute"==getComputedStyle(e,null).position})}return n}function h(e,t,o,a){function c(){f&&(delete j.style,delete j.modElem)}if(a=r(a,"undefined")?!1:a,!r(o,"undefined")){var u=m(e,o);if(!r(u,"undefined")){return u}}for(var f,d,p,h,g,v=["modernizr","tspan"];!j.style;){f=!0,j.modElem=s(v.shift()),j.style=j.modElem.style}for(p=e.length,d=0;p>d;d++){if(h=e[d],g=j.style[h],i(h,"-")&&(h=l(h)),j.style[h]!==n){if(a||r(o,"undefined")){return c(),"pfx"==t?h:!0}try{j.style[h]=o}catch(y){}if(j.style[h]!=g){return c(),"pfx"==t?h:!0}}}return c(),!1}function g(e,t,n,o,a){var i=e.charAt(0).toUpperCase()+e.slice(1),s=(e+" "+w.join(i+" ")+i).split(" ");return r(t,"string")||r(t,"undefined")?h(s,t,o,a):(s=(e+" "+_.join(i+" ")+i).split(" "),u(s,t,n))}function v(e,t,r){return g(e,n,n,t,r)}var y=[],C=[],E={_version:"3.3.1",_config:{classPrefix:"",enableClasses:!0,enableJSClass:!0,usePrefixes:!0},_q:[],on:function(e,t){var n=this;setTimeout(function(){t(n[e])},0)},addTest:function(e,t,n){C.push({name:e,fn:t,options:n})},addAsyncTest:function(e){C.push({name:null,fn:e})}},Modernizr=function(){};Modernizr.prototype=E,Modernizr=new Modernizr;var S=t.documentElement,b="svg"===S.nodeName.toLowerCase(),x="Moz O ms Webkit",w=E._config.usePrefixes?x.split(" "):[];E._cssomPrefixes=w;var _=E._config.usePrefixes?x.toLowerCase().split(" "):[];E._domPrefixes=_;b||!function(e,t){function n(e,t){var n=e.createElement("p"),r=e.getElementsByTagName("head")[0]||e.documentElement;return n.innerHTML="x<style>"+t+"</style>",r.insertBefore(n.lastChild,r.firstChild)}function r(){var e=C.elements;return"string"==typeof e?e.split(" "):e}function o(e,t){var n=C.elements;"string"!=typeof n&&(n=n.join(" ")),"string"!=typeof e&&(e=e.join(" ")),C.elements=n+" "+e,c(t)}function a(e){var t=y[e[g]];return t||(t={},v++,e[g]=v,y[v]=t),t}function i(e,n,r){if(n||(n=t),f){return n.createElement(e)}r||(r=a(n));var o;return o=r.cache[e]?r.cache[e].cloneNode():h.test(e)?(r.cache[e]=r.createElem(e)).cloneNode():r.createElem(e),!o.canHaveChildren||m.test(e)||o.tagUrn?o:r.frag.appendChild(o)}function s(e,n){if(e||(e=t),f){return e.createDocumentFragment()}n=n||a(e);for(var o=n.frag.cloneNode(),i=0,s=r(),l=s.length;l>i;i++){o.createElement(s[i])}return o}function l(e,t){t.cache||(t.cache={},t.createElem=e.createElement,t.createFrag=e.createDocumentFragment,t.frag=t.createFrag()),e.createElement=function(n){return C.shivMethods?i(n,e,t):t.createElem(n)},e.createDocumentFragment=Function("h,f","return function(){var n=f.cloneNode(),c=n.createElement;h.shivMethods&&("+r().join().replace(/[\w\-:]+/g,function(e){return t.createElem(e),t.frag.createElement(e),'c("'+e+'")'
})+");return n}")(C,t.frag)}function c(e){e||(e=t);var r=a(e);return !C.shivCSS||u||r.hasCSS||(r.hasCSS=!!n(e,"article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}mark{background:#FF0;color:#000}template{display:none}")),f||l(e,r),e}var u,f,d="3.7.3",p=e.html5||{},m=/^<|^(?:button|map|select|textarea|object|iframe|option|optgroup)$/i,h=/^(?:a|b|code|div|fieldset|h1|h2|h3|h4|h5|h6|i|label|li|ol|p|q|span|strong|style|table|tbody|td|th|tr|ul)$/i,g="_html5shiv",v=0,y={};!function(){try{var e=t.createElement("a");e.innerHTML="<xyz></xyz>",u="hidden" in e,f=1==e.childNodes.length||function(){t.createElement("a");var e=t.createDocumentFragment();return"undefined"==typeof e.cloneNode||"undefined"==typeof e.createDocumentFragment||"undefined"==typeof e.createElement}()}catch(n){u=!0,f=!0}}();var C={elements:p.elements||"abbr article aside audio bdi canvas data datalist details dialog figcaption figure footer header hgroup main mark meter nav output picture progress section summary template time video",version:d,shivCSS:p.shivCSS!==!1,supportsUnknownElements:f,shivMethods:p.shivMethods!==!1,type:"default",shivDocument:c,createElement:i,createDocumentFragment:s,addElements:o};e.html5=C,c(t),"object"==typeof module&&module.exports&&(module.exports=C)}("undefined"!=typeof e?e:this,t);var N={elem:s("modernizr")};Modernizr._q.push(function(){delete N.elem});var j={style:N.elem.style};Modernizr._q.unshift(function(){delete j.style}),E.testAllProps=g,E.testAllProps=v,Modernizr.addTest("flexbox",v("flexBasis","1px",!0)),o(),a(y),delete E.addTest,delete E.addAsyncTest;for(var k=0;k<Modernizr._q.length;k++){Modernizr._q[k]()}e.Modernizr=Modernizr}(window,document);
        //]]>
    </script>
    <link rel="apple-touch-icon" type="image/png" href="./build/imgs/apple-touch-icon-72x72-1b4c2b319595c5eca0920f58b593228992a06dd1df8d4bb61ae70fb0b82e274b.png" sizes="72x72" />
    <link rel="apple-touch-icon" type="image/png" href="./build/imgs/apple-touch-icon-114x114-98e7618233154ca9312469713264e33078bbc686269017b337edc98a60521f7e.png" sizes="114x114" />
    <link rel="apple-touch-icon" type="image/png" href="./build/imgs/apple-touch-icon-144x144-0236f0315f872d6cc16cda122fcdd464aeb823a376e1919390b425c6c4f153c0.png" sizes="144x144" />
    <link rel="icon" type="image/png" href="./build/imgs/apple-touch-icon-b06a2da26ff9f31c003469ba0063a247f90385a960064b3440dc4f69451b3b18.png" sizes="192x192" />
</head>
<body>
<div class="side-drawer">
    <ul class="side-drawer__nav">
        <li class="side-drawer__item">
            <a class="side-drawer__link" href="/agenda">议题</a>
        </li>
        <li class="side-drawer__item">
            <a class="side-drawer__link" href="/events">会议</a>
        </li>
        <li class="side-drawer__item">
            <a class="side-drawer__link" href="/reports">报告</a>
        </li>
        <li class="side-drawer__item">
            <a class="side-drawer__link" href="/global-challenges">项目</a>
        </li>
        <li class="side-drawer__item">
            <a class="side-drawer__link" href="/about/our-mission">关于</a>
            <ul class="side-drawer__sublinks">
                <li class="side-drawer__sublink">
                    <a href="/about/our-mission">我们的使命</a>
                </li>
                <li class="side-drawer__sublink">
                    <a href="/about/communities">我们的社区</a>
                </li>
                <li class="side-drawer__sublink">
                    <a href="/about/our-members-partners">我们的会员与伙伴</a>
                </li>
                <li class="side-drawer__sublink">
                    <a href="/about/leadership-and-governance">领导团队</a>
                </li>
                <li class="side-drawer__sublink">
                    <a href="/about/our-history">我们的历史</a>
                </li>
                <li class="side-drawer__sublink">
                    <a href="/about/contact-us">联系我们 </a>
                </li>
                <li class="side-drawer__sublink">
                    <a href="/about/press">媒体</a>
                </li>
                <li class="side-drawer__sublink">
                    <a href="/about/career-opportunities">职业机会</a>
                </li>
                <li class="side-drawer__sublink">
                    <a href="/about/775175ff-9f09-45f1-b552-0a8c437b4847">声明</a>
                </li>
                <li class="side-drawer__sublink">
                    <a href="/about/privacy-and-terms-of-use">隐私和使用条款</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="side-secondary-nav">
        <li><a href="http://www.nnn.li/">English</a></li>
        <li><a href="https://nnn.li/espanol/">Español</a></li>
        <li><a href="http://www.nnn.li/">日本語</a></li>
        <!--<li class="drawer-toplink-container">
            <a href="https://toplink.nnn.li/">
                <div class="drawer-toplink-button">
                    登录到Toplink
                </div>
            </a>
        </li>-->
    </ul>
</div>
<div class="side-drawer__close"></div>
<div id="cookie-policy" class="cookie-policy">
    <div class="row">
        <div class="small-12 columns cookie-policy__container">
            <div id="cookie-policy-dismiss" class="cookie-policy__dismiss"></div>
            <div class="cookie-policy__message">我们正使用cookies为您提供浏览我们网站的最佳体验。如需继续浏览我们的网页，您需同意我们继续使用cookies</div>
        </div>
    </div>
</div>
<div class="content-container">
<header>
    <div class="row nav">
        <ul class="header-container">
            <a class="drawer-icon js-show-hide-menu">
                <img src="./build/imgs/hamburger-d4a8924e2554b1c8a9206e72c97a44cc624d3da299ccb9e9d4a2a8ef37e76f72.svg" alt="Hamburger" />
            </a>
            <li class="header-item logo">
                <a href="/"><img class="header-wef__logo" src="./build/imgs/logo-d8b23e233f85a1af9093a1946e18cff462b0ca82fcd720e2a9633270e53a0bcd.svg" alt="Logo" /></a>
            </li>

            <div class="header-pane-selectors">
                <li class="header-pane" data-pane="agenda">
                    <a class="header-item__link" href=agenda">议题</a>
                </li>
                <li class="header-pane" data-pane="events">
                    <a class="header-item__link" href="">会议</a>
                </li>
                <li class="header-pane" data-pane="reports">
                    <a class="header-item__link" href="">报告</a>
                </li>
                <li class="header-pane" data-pane="projects">
                    <a class="header-item__link" href="">项目</a>
                </li>
                <li class="header-pane" data-pane="about">
                    <a class="header-item__link" href="">关于</a>
                </li>
            </div>
        </ul>
    </div>
</header>
<div class="meganav-container">
    <div class="meganav-content" data-pane="agenda">
        <div class="agenda meganav-content__description">
    <div class="row">
        <div class="small-5 columns subpane-navigation">
            <span class="subpane-navigation__item" data-subpane="global">全球性</span>
            <span class="subpane-navigation__item" data-subpane="regional">地区性</span>
            <span class="subpane-navigation__item" data-subpane="industry">行业性</span>
        </div>
        <div class="small-7 columns description">
            分享塑造全球、区域与行业议程的各方观点
        </div>
    </div>
</div>
            <div class="row meganav-agenda-subpane" data-subpane="global">
                <div class="columns">
                    <div class="tout-list tout-list--grid tout-list--grid-">
                        <div class="tout-list--grid__container">
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_45AmZZ8RSbjiXet1VO2Q3a2PJbCRepdIp_NOBm815jc.jpeg" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_45AmZZ8RSbjiXet1VO2Q3a2PJbCRepdIp_NOBm815jc.jpeg" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">它竟然是世界上最环保、最幸福的国家！</h3>
                                    </div>
                                </a>
                            </article>
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_UNAZ-oKq9Vvd-zcaRuQj16JwIKgLyFdgq-APcuI5zoM.png" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_UNAZ-oKq9Vvd-zcaRuQj16JwIKgLyFdgq-APcuI5zoM.png" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">现在才八月，可我们已经把今年的自然资源都用完了！</h3>
                                    </div>
                                </a>
                            </article>
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small__mXCeQqgPmmTFWA7oYDW0ODWrDtcdIH4jNVxcLahs9Q.jpg" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny__mXCeQqgPmmTFWA7oYDW0ODWrDtcdIH4jNVxcLahs9Q.jpg" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">全球化使我们的经济更容易受到气候变化的影响</h3>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row meganav-agenda-subpane" data-subpane="regional">
                <div class="columns">
                    <div class="tout-list tout-list--grid tout-list--grid-">
                        <div class="tout-list--grid__container">
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_7RZtCW95iJSTplcLxAQolo-s2C8Ii2HVQkE8pU7vl78.jpg" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_7RZtCW95iJSTplcLxAQolo-s2C8Ii2HVQkE8pU7vl78.jpg" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">企业应当如何应对中国水危机？</h3>
                                    </div>
                                </a>
                            </article>
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small__1OdK_McqnkTwaboFkI8HStpelz2K344mXA4WtwhZHM.png" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny__1OdK_McqnkTwaboFkI8HStpelz2K344mXA4WtwhZHM.png" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">中国惊艳全球科学界的五大超级工程</h3>
                                    </div>
                                </a>
                            </article>
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_0GwiKx--9OopQL6NZNLPBniSZ1ekThSR9n0LqOrRJ_s.png" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_0GwiKx--9OopQL6NZNLPBniSZ1ekThSR9n0LqOrRJ_s.png" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">中国视角：怎样教孩子们创新？</h3>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row meganav-agenda-subpane" data-subpane="industry">
                <div class="columns">
                    <div class="tout-list tout-list--grid tout-list--grid-">
                        <div class="tout-list--grid__container">
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_OrtOlg3_8ifmr5gYy2U12Rk5r7PnHDLBEPqKHusHjto.jpeg" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_OrtOlg3_8ifmr5gYy2U12Rk5r7PnHDLBEPqKHusHjto.jpeg" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">雾霾变钻石的魔法在中国真的存在！</h3>
                                    </div>
                                </a>
                            </article>
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_iwqURiQ6HZ3qJwXlZePBltHV4hnHfygU2QpwUhWdYCY.jpg" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_iwqURiQ6HZ3qJwXlZePBltHV4hnHfygU2QpwUhWdYCY.jpg" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">再次颠覆音乐产业的三大科技趋势</h3>
                                    </div>
                                </a>
                            </article>
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_dJVuqfJqWN2rs2k9Vs5nCjuo0Wr9HgZRFzwUQo9ca0w.png" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_dJVuqfJqWN2rs2k9Vs5nCjuo0Wr9HgZRFzwUQo9ca0w.png" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">2016年度十大新兴技术</h3>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <div class="meganav-section-end">
                        <a href=""> <span>阅读全文</span> <img src="./build/imgs/link-arrow-9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc.svg" alt="Link arrow" /> </a>
                    </div>
                </div>
            </div>
    </div>
    <div class="meganav-content" data-pane="events">
        <div class="meganav-content__description">
            <div class="row">
                <div class="small-12 columns">
                    论坛会议与活动：推动全球、区域与行业议程设定
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-6 columns">
                <div class="mega-list-group__header">
                    <span>会议预告</span>
                </div>
                <div class="mega-event-summary">
                    <div class="gutter-marking"></div>
                    <article class="tout tout--default tout--event">
                        <a class="tout__link" href="">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="./build/imgs/upload/small_v0yPkGokoelOFh0r_E_7AAPtHUVJzRJ6Ic0us4LLDFM.jpeg" />
                                <img class="tiny-fallback" src="./build/imgs/upload/tiny_v0yPkGokoelOFh0r_E_7AAPtHUVJzRJ6Ic0us4LLDFM.jpeg" alt="Tiny" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2016年印度经济峰会</h3>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span>6-7 October 2016</span>
                                        <span>New Delhi, India</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
            <div class="small-6 columns">
                <div class="mega-list-group__header">
                    <span>会议回顾</span>
                </div>
                <article class="tout tout--mini tout--event">
                    <a class="tout__link" href="">
                        <figure class="placeholder tiny">
                            <img class="image" alt="" src="./build/imgs/upload/tiny__BvRhZ2lihcEJ7S_ISGzLJrNTOnX1GVqV2MCppoEu5I.jpeg" />
                            <img class="tiny-fallback" src="./build/imgs/upload/tiny__BvRhZ2lihcEJ7S_ISGzLJrNTOnX1GVqV2MCppoEu5I.jpeg" alt="Tiny" />
                        </figure>
                        <div class="tout__details">
                            <h3 class="tout__title">2016年新领军者年会</h3>
                            <div class="tout__meta">
                                <div class="caption">
                                    <span>26-28 June 2016</span>
                                    <span>Tianjin, People's Republic of China</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tout tout--mini tout--event">
                    <a class="tout__link" href="">
                        <figure class="placeholder tiny">
                            <img class="image" alt="" src="./build/imgs/upload/tiny_nrFCoW6lrUmoiwn2lgbiPmSyh03XuSxyYj_6PMIAE5w.jpeg" />
                            <img class="tiny-fallback" src="./build/imgs/upload/tiny_nrFCoW6lrUmoiwn2lgbiPmSyh03XuSxyYj_6PMIAE5w.jpeg" alt="Tiny" />
                        </figure>
                        <div class="tout__details">
                            <h3 class="tout__title">2016年世界经济论坛拉美峰会</h3>
                            <div class="tout__meta">
                                <div class="caption">
                                    <span>16-17 June 2016</span>
                                    <span>Medellin, Colombia</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tout tout--mini tout--event">
                    <a class="tout__link" href="">
                        <figure class="placeholder tiny">
                            <img class="image" alt="" src="./build/imgs/upload/tiny_m4-_hzNRBbF8UePbfZEdPR8gr0hnIXJjExxTjId_e98.jpeg" />
                            <img class="tiny-fallback" src="./build/imgs/upload/tiny_m4-_hzNRBbF8UePbfZEdPR8gr0hnIXJjExxTjId_e98.jpeg" alt="Tiny" />
                        </figure>
                        <div class="tout__details">
                            <h3 class="tout__title">2016年世界经济论坛东亚峰会</h3>
                            <div class="tout__meta">
                                <div class="caption">
                                    <span>1-2 June 2016</span>
                                    <span>Kuala Lumpur, Malaysia</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="meganav-section-end">
                    <a href=""> <span>更多会议</span> <img src="./build/imgs/link-arrow-9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc.svg" alt="Link" /> </a>
                </div>
            </div>
        </div>
    </div>
    <div class="meganav-content" data-pane="reports">
        <div class="meganav-content__description">
            <div class="row">
                <div class="small-12 columns">
                    论坛报告：开展广泛研究，关注全球性重点议题
                </div>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <div class="tout-list tout-list--grid">
                    <div class="tout-list--grid__container">
                        <article class="tout tout--default tout--report">
                            <a class="tout__link" href="">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="./build/imgs/upload/small_Fj6nmCOpBdTUtJSeyCYAZNVa8kSd-WBQbKt3hkFemJ8.jpg" />
                                    <img class="tiny-fallback" src="./build/imgs/upload/tiny_Fj6nmCOpBdTUtJSeyCYAZNVa8kSd-WBQbKt3hkFemJ8.jpg" alt="Tink" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">2016年全球信息技术报告</h3>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span>1 Jul 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--report">
                            <a class="tout__link" href="">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="./build/imgs/upload/small_Z1x0Cv-SU1vMvLBPz7x1jCtNsrcLVPQiM4diqsI0Y58.JPG" />
                                    <img class="tiny-fallback" src="./build/imgs/upload/tiny_Z1x0Cv-SU1vMvLBPz7x1jCtNsrcLVPQiM4diqsI0Y58.JPG" alt="Tiny" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">2016年人力资本报告</h3>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span>15 Jun 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--report">
                            <a class="tout__link" href="">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="./build/imgs/upload/small_4QQCJrfsnv_rbX4Y2eaarz-wP7tG6x5LQLkPZk8joAQ.png" />
                                    <img class="tiny-fallback" src="./build/imgs/upload/tiny_4QQCJrfsnv_rbX4Y2eaarz-wP7tG6x5LQLkPZk8joAQ.png" alt="Tiny" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">未来就业报告</h3>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span>18 Jan 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="meganav-section-end">
                    <a href=""> <span>更多报告</span> <img src="./build/imgs/link-arrow-9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc.svg" alt="Link arrow" /> </a>
                </div>
            </div>
        </div>
    </div>
    <div class="meganav-content" data-pane="projects">
        <div class="meganav-content__description">
            <div class="row">
                <div class="small-12 columns">
                    论坛项目：促进公私合作，应对最紧迫的全球性挑战
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <div class="gutter-marking"></div>
                <div class="mega-list-group__header">
                    <span class="list-group__title">“应对全球挑战”行动倡议</span>
                </div>
                <ul class="mega-list-group">
                    <li class="mega-list-group__item"> <a href="">互联网的未来</a> </li>
                    <li class="mega-list-group__item"> <a href="">全球性别平等</a> </li>
                    <li class="mega-list-group__item"> <a href="">全球金融体系的未来</a> </li>
                    <li class="mega-list-group__item"> <a href="">农业与粮食安全</a> </li>
                    <li class="mega-list-group__item"> <a href="">国际贸易与投资</a> </li>
                    <li class="mega-list-group__item"> <a href="">就业、技能与人力资本</a> </li>
                    <li class="mega-list-group__item"> <a href="">环境与资源安全</a> </li>
                    <li class="mega-list-group__item"> <a href="">经济增长与社会包容</a> </li>
                    <li class="mega-list-group__item"> <a href="">长期投资、基础设施与经济发展</a> </li>
                </ul>
            </div>
            <div class="small-8 columns">
                <div class="mega-list-group__header">
                    <span class="list-group__title">最新活动</span>
                </div>
                <div class="row">
                    <div class="columns">
                        <div class="tout-list tout-list--grid tout-list--grid-x2">
                            <div class="tout-list--grid__container">
                                <article class="tout tout--default tout--project">
                                    <a class="tout__link" href="">
                                        <figure class="placeholder small">
                                            <img class="image" alt="" src="./build/imgs/upload/fallback-small-cb8992567b66198e106a34e94fe769afd604a00c5b62e618c98a5e86ea27905b.png" />
                                            <img class="tiny-fallback" src="./build/imgs/upload/fallback-tiny-8cd872b56c710adb83ae38eb2116e34dee65b06883fa029367b994d5d9348447.png" alt="" />
                                        </figure>
                                        <div class="tout__details">
                                            <div class="tout__topic caption"></div>
                                            <h3 class="tout__title">The Future of Jobs</h3>
                                        </div>
                                    </a>
                                </article>
                                <article class="tout tout--default tout--project">
                                    <a class="tout__link" href="">
                                        <figure class="placeholder small">
                                            <img class="image" alt="" src="./build/imgs/upload/small_yOlmD6caMEx5c1Jvxz-1D1oqelULlyEw9tspy0j783g.jpeg" />
                                            <img class="tiny-fallback" src="./build/imgs/upload/tiny_yOlmD6caMEx5c1Jvxz-1D1oqelULlyEw9tspy0j783g.jpeg" alt="Tiny" />
                                        </figure>
                                        <div class="tout__details">
                                            <div class="tout__topic caption"></div>
                                            <h3 class="tout__title">Promoting Global Financial Inclusion</h3>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="meganav-section-end">
                    <a href=""> <span>更多项目</span> <img src="./build/imgs/link-arrow-9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc.svg" alt="Link" /> </a>
                </div>
            </div>
        </div>
    </div>
    <div class="meganav-content meganav-content--tall" data-pane="about">
        <div class="meganav-content__description">
            <div class="row">
                <div class="small-12 columns">
                    致力于改善全球状况
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <div class="gutter-marking"></div>
                <div class="mega-list-group__header">
                    <span class="list-group__title">关于我们</span>
                </div>
                <ul class="mega-list-group">
                    <li class="mega-list-group__item"> <a href="">我们的使命</a> </li>
                    <li class="mega-list-group__item"> <a href="">我们的社区</a> </li>
                    <li class="mega-list-group__item"> <a href="">我们的会员与伙伴</a> </li>
                    <li class="mega-list-group__item"> <a href="">领导团队</a> </li>
                    <li class="mega-list-group__item"> <a href="">我们的历史</a> </li>
                    <li class="mega-list-group__item"> <a href="">联系我们 </a> </li>
                    <li class="mega-list-group__item"> <a href="">媒体</a> </li>
                    <li class="mega-list-group__item"> <a href="">职业机会</a> </li>
                    <li class="mega-list-group__item"> <a href="">声明</a> </li>
                    <li class="mega-list-group__item"> <a href="">隐私和使用条款</a> </li>
                </ul>
            </div>
            <div class="small-8 columns">
                <div class="mega-list-group__header">
                    <span class="list-group__title">如何参与</span>
                </div>
                <div class="row">
                    <div class="columns">
                        <div class="tout-list tout-list--grid tout-list--grid-x2">
                            <div class="tout-list--grid__container">
                                <article class="tout tout--default tout--page">
                                    <a class="tout__link" href="">
                                        <figure class="placeholder small">
                                            <img class="image" alt="" src="./build/imgs/upload/small_RwSyC4_HD2hYNRsuwyXVUM6rTAXJXFAAAc6vH69h9J8.jpg" />
                                            <img class="tiny-fallback" src="./build/imgs/upload/tiny_RwSyC4_HD2hYNRsuwyXVUM6rTAXJXFAAAc6vH69h9J8.jpg" alt="Tiny" />
                                        </figure>
                                        <div class="tout__details">
                                            <h3 class="tout__title">如何参与</h3>
                                        </div>
                                    </a>
                                </article>
                                <article class="tout tout--default tout--page">
                                    <a class="tout__link" href="">
                                        <figure class="placeholder small">
                                            <img class="image" alt="" src="./build/imgs/upload/small_PsXgfRYxDz5WiNTQdqQi9K32ObkeSmzg-QaKGKMA36o.jpg" />
                                            <img class="tiny-fallback" src="./build/imgs/upload/tiny_PsXgfRYxDz5WiNTQdqQi9K32ObkeSmzg-QaKGKMA36o.jpg" alt="Tiny" />
                                        </figure>
                                        <div class="tout__details">
                                            <h3 class="tout__title">联系我们 </h3>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="global-challenges-page">
        <div class="global-challenge-header" style="background-image: url('./build/imgs/upload/NW8-1DNCk0ZrglxeihYBBZKVcAEB6tLpUEP3Sr96ang.jpg')">
            <div class="row">
                <div class="small-12 columns">
                    <div class="global-challenge-wrapper">
                        <h1 class="page-title"> 互联网的未来 </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="global-challenge-about">
                <div class="st__content-block st__content-block--text">
                    <p><b>全球挑战：国际社会如何在互联网发展领域加强合作，以充分发挥其对个人、企业、政府和社会的影响力？</b></p>
                </div>
                <div class="st__content-block st__content-block--text">
                    <p>过去十年中，互联网一直是颠覆全球经济、促进全球经济增长的主要因素。当前，只要数字生态系统的完整性得以保持，那么即使政府部门努力解决与网络相关的政策问题，互联网也有望继续推动社会前进。为了解决许多相关的政策和治理问题（从网络犯罪和安全到隐私保护和大数据、商业责任、法定管辖权以及发展中国家和边缘群体的网络接入等），我们要平衡各方利益，要通过直接对话，促进各利益相关方的相互理解和信任。 <br /></p>
                </div>
                <div class="st__content-block st__content-block--text">
                    <p>在今年的达沃斯年会上，世界经济论坛发起了一个长期的“互联网的未来”行动倡议，致力于增进互信和扩大务实合作。这一非正式的战略合作平台旨在通过论坛独特的跨部委、跨行业社区以及跨领域的网络和能力，推动多方利益相关者展开合作，从而为正式的机构和现行的行动倡议提供有益补充。该行动倡议主要包含五大内容： </p>
                </div>
                <div class="st__content-block st__content-block--text">
                    <p><b>互联网治理 </b><br /></p>
                </div>
                <div class="st__content-block st__content-block--text">
                    <p>这一为期多年的机制由多方利益相关者的领袖参与，主要围绕关键的政策进行分析、展开对话并开展行动，将为多方利益相关者提供一个切实的合作平台，推动各方与专家建立非正式的联盟，整合各自的专长、能力和/或资源，从而制定框架或解决具体的问题。这方面的主要项目将是“互联网分化与数据国有化”，该项目旨在围绕这一重要问题扩大宣传、增进了解并寻求共识。该项目的核心任务是对互联网与数据碎片化的各个维度进行全面分析。在不远的将来，这些分析成果将为各方开展系统性对话奠定基础，探讨在政府部门依据国家偏好和决策机制去解决一些社会、安全和其他领域问题的背景下，国际社会如何加强合作，确保维持互联网在全球范围内的互操作性。此外，“互联网治理”项目还将围绕区域/国家数字战略这一话题，召集举行一系列公私对话，为多方利益相关者举行高层对话搭建平台，帮助国家/地区在全球背景下制定新的数字战略和政策。第一期对话将与欧盟委员会合作举行，聚焦欧洲的数字战略，探讨如何制定相应战略，建设一个数字化的欧洲。
                        </p>
                </div>
                <div class="st__content-block st__content-block--text">
                    <p><b>防治网络犯罪 </b><br /></p>
                </div>
                <div class="st__content-block st__content-block--text">
                    <p>“防治网络犯罪”项目旨在推动公共部门和私营部门的高级网络安全官员和管理者展开系统性对话，并制定具体的合作议程，包括评估现行的法律、法规和私营部门的行业标准。这种评估有助于发掘公私合作机会，共同预防、调查和检举网络攻击行为。该项目汲取了论坛“提升网络风险抵御力”合作项目的成果，该项目已经在23个国家的14个行业提高了高层领袖的意识和他们对网络风险的了解，并推动他们采取了相关行动。 </p>
                </div>
                <div class="st__content-block st__content-block--text">
                    <p><b>互联网普惠 </b><br /></p>
                </div>
                <div class="st__content-block st__content-block--text">
                    <p>目前，约有40亿人享受不到（固定的）互联网服务。论坛在推动发展中国家开展公私合作、应对教育和水资源等挑战方面有着丰富的经验，在此基础上，本项目将确定最佳的政策实践，既能鼓励私营部门对基础设施和互联网内容进行投资，同时又能符合财政、社会和其他重要的国家政策目标。项目首先会在3个国家进行试点，旨在推动建立新型公私合作，其最终目的在于让更多的人使用得起互联网服务，并根据最佳实践开发相关的互联网内容。这些国家层面的公私合作项目将会催生一套可以复制的方法，用于在其他国家进行推广和复制。
                        <br /></p>
                </div>
                <div class="st__content-block st__content-block--text">
                    <p><b>为决策者提供更好的信息</b> </p>
                </div>
                <div class="st__content-block st__content-block--text">
                    <p>当前，针对有关互联网的关键问题，人们迫切需要获得最新的信息。为了满足这种需求，该项目将在目前工作的基础上，为决策者提供有针对性的分析成果，旨在不断深化和拓展全球对与互联网治理和合作相关的重大挑战和趋势的了解。通过与其他相关机构合作，该项目旨在更准确地实时了解瞬息万变的互联网对经济和社会的影响，并了解各方在应对互联网治理挑战方面的合作情况。项目的终极目标是为公共和私营部门领导在制定有关互联网未来的决策时提供更加强大的依据。此外，该项目还致力于为公共部门和私营部门利益相关者——尤其是政府官员，包括发展中国家的政府官员——提供信息，帮助他们详细了解当前为解决迫在眉睫的网络问题（从网络犯罪到隐私保护）所采取的对策与策略。
                        <br /><br />在世界各地学术机构的支持下，本项目还将围绕重要的互联网问题开发教学模块，将其纳入世界经济论坛的数字化高管教育项目——论坛学院。与此同时，该项目还将探索为发展中国家的新兴领袖提供研习计划。 <br /></p>
                </div>
                <div class="st__content-block st__content-block--text">
                    <p><b>商业模式的数字化转型 </b><br /></p>
                </div>
                <div class="st__content-block st__content-block--text">
                    <p>数字技术及其相关转型是让大多数领袖和决策者感到不确定和不安的原因所在，但同时也为把握和创造价值创造了无与伦比的机会。该项目是“互联网的未来”行动倡议的重要支柱，将探讨商业数字化最新动态和趋势中所蕴藏的新机遇和新问题。“行业的数字化转型”项目将帮助相关各方更好地了解特定部门和行业在数字化转型过程中面临的机遇和风险，及其对商业模式乃至整个社会的影响。在初期阶段，该项目将重点关注下列各行业：汽车、消费品、能源设施、能源技术、金融服务、医疗保健、IT、媒体、娱乐和信息、供应链和电信等。
                        <br /><br /></p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer__wrapper">
        <div class="row">
            <div class="footer__newsletter">
                <div class="newsletter">
                    <div class="newsletter__callout">
                        <div class="newsletter__callout__description">全球议题一周更新</div>
                    </div>
                </div>
            </div>

            <div class="footer__socialmedia">
                <div class="footer__socialmedia-title">关注我们</div>
                <div class="footer__socialmedia-group">
                    <a href="" class="social-share--linkedin" target="_blank"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="footer__list-group">
            <div class="list-group">
                <div class="list-group__header">
                    <span>关于</span>
                </div>
                <div class="list-group__items">
                    <div class="list-group__item">
                        <a href="">我们的使命</a>
                    </div>
                    <div class="list-group__item">
                        <a href="">我们的社区</a>
                    </div>
                    <div class="list-group__item">
                        <a href="">我们的会员与伙伴</a>
                    </div>
                    <div class="list-group__item">
                        <a href="">领导团队</a>
                    </div>
                    <div class="list-group__item">
                        <a href="">我们的历史</a>
                    </div>
                    <div class="list-group__item">
                        <a href="">联系我们 </a>
                    </div>
                    <div class="list-group__item">
                        <a href="">媒体</a>
                    </div>
                    <div class="list-group__item">
                        <a href="">职业机会</a>
                    </div>
                    <div class="list-group__item">
                        <a href="">声明</a>
                    </div>
                    <div class="list-group__item">
                        <a href="">隐私和使用条款</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__list-group">
            <div class="list-group">
                <div class="list-group__header">
                    <span>媒体</span>
                </div>
                <div class="list-group__items">
                    <div class="list-group__item">
                        <a href="">新闻</a>
                    </div>
                    <div class="list-group__item">
                        <a href="">许可</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__list-group">
            <div class="list-group">
                <div class="list-group__header">
                    <span>会员和合作伙伴</span>
                </div>
                <div class="list-group__items">
                    <div class="list-group__item">
                        <a href="">会员登录Toplink</a>
                    </div>
                    <div class="list-group__item">
                        <a href="">战略合作伙伴</a>
                    </div>
                    <div class="list-group__item">
                        <a href="">合作机构</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="footer__info-container">
                <div class="footer__info-group">
                    © 2016 世界经济论坛
                </div>
                <div class="footer__info-group">
                    <a href="">隐私权政策和服务条款</a>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
</body>
</html>