<!doctype html>
<html class="no-js" lang="zh-CN" build="Julian">
<head>
    <title>议题 | World Economic Forum</title>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://nnn.li/" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="世界经济论坛" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://nnn.li/" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:description" content="" />
    <link rel="stylesheet" media="all" href="./build/css/application-8fd346d2b8eb9fc4a1240bc55df8309412cc2e81fb49e5b8fff697b7d5408092.css" />
    <link rel="stylesheet" media="print" href="./build/css/print-852b12f603d401ee5ae638201d4e5612bd14b331e1c6982678d9c1d3e9ee6727.css" />
    <link rel="stylesheet" media="all" href="//fast.fonts.net/cssapi/4946bd2e-8cbd-461c-8121-ca6696f6267d.css" />
    <link rel="canonical" href="https://nnn.li/" />
    <link rel="alternate" type="application/atom+xml" title="ATOM" href="https://nnn.li/feed" />
    <script src="./build/js/application-1b4ee572a905e4d79cffbdaddde9b89ac8f3709b87eae0468b0fc9c2237bf8f4.js"></script>
    <script>
        //<![CDATA[
       !function(e,t,n){function r(e,t){return typeof e===t}function o(){var e,t,n,o,a,i,s;for(var l in C){if(C.hasOwnProperty(l)){if(e=[],t=C[l],t.name&&(e.push(t.name.toLowerCase()),t.options&&t.options.aliases&&t.options.aliases.length)){for(n=0;n<t.options.aliases.length;n++){e.push(t.options.aliases[n].toLowerCase())}}for(o=r(t.fn,"function")?t.fn():t.fn,a=0;a<e.length;a++){i=e[a],s=i.split("."),1===s.length?Modernizr[s[0]]=o:(!Modernizr[s[0]]||Modernizr[s[0]] instanceof Boolean||(Modernizr[s[0]]=new Boolean(Modernizr[s[0]])),Modernizr[s[0]][s[1]]=o),y.push((o?"":"no-")+s.join("-"))}}}}function a(e){var t=S.className,n=Modernizr._config.classPrefix||"";if(b&&(t=t.baseVal),Modernizr._config.enableJSClass){var r=new RegExp("(^|\\s)"+n+"no-js(\\s|$)");t=t.replace(r,"$1"+n+"js$2")}Modernizr._config.enableClasses&&(t+=" "+n+e.join(" "+n),b?S.className.baseVal=t:S.className=t)}function i(e,t){return !!~(""+e).indexOf(t)}function s(){return"function"!=typeof t.createElement?t.createElement(arguments[0]):b?t.createElementNS.call(t,"http://www.w3.org/2000/svg",arguments[0]):t.createElement.apply(t,arguments)}function l(e){return e.replace(/([a-z])-([a-z])/g,function(e,t,n){return t+n.toUpperCase()}).replace(/^-/,"")}function c(e,t){return function(){return e.apply(t,arguments)}}function u(e,t,n){var o;for(var a in e){if(e[a] in t){return n===!1?e[a]:(o=t[e[a]],r(o,"function")?c(o,n||t):o)}}return !1}function f(e){return e.replace(/([A-Z])/g,function(e,t){return"-"+t.toLowerCase()}).replace(/^ms-/,"-ms-")}function d(){var e=t.body;return e||(e=s(b?"svg":"body"),e.fake=!0),e}function p(e,n,r,o){var a,i,l,c,u="modernizr",f=s("div"),p=d();if(parseInt(r,10)){for(;r--;){l=s("div"),l.id=o?o[r]:u+(r+1),f.appendChild(l)}}return a=s("style"),a.type="text/css",a.id="s"+u,(p.fake?p:f).appendChild(a),p.appendChild(f),a.styleSheet?a.styleSheet.cssText=e:a.appendChild(t.createTextNode(e)),f.id=u,p.fake&&(p.style.background="",p.style.overflow="hidden",c=S.style.overflow,S.style.overflow="hidden",S.appendChild(p)),i=n(f,e),p.fake?(p.parentNode.removeChild(p),S.style.overflow=c,S.offsetHeight):f.parentNode.removeChild(f),!!i}function m(t,r){var o=t.length;if("CSS" in e&&"supports" in e.CSS){for(;o--;){if(e.CSS.supports(f(t[o]),r)){return !0}}return !1}if("CSSSupportsRule" in e){for(var a=[];o--;){a.push("("+f(t[o])+":"+r+")")}return a=a.join(" or "),p("@supports ("+a+") { #modernizr { position: absolute; } }",function(e){return"absolute"==getComputedStyle(e,null).position})}return n}function h(e,t,o,a){function c(){f&&(delete j.style,delete j.modElem)}if(a=r(a,"undefined")?!1:a,!r(o,"undefined")){var u=m(e,o);if(!r(u,"undefined")){return u}}for(var f,d,p,h,g,v=["modernizr","tspan"];!j.style;){f=!0,j.modElem=s(v.shift()),j.style=j.modElem.style}for(p=e.length,d=0;p>d;d++){if(h=e[d],g=j.style[h],i(h,"-")&&(h=l(h)),j.style[h]!==n){if(a||r(o,"undefined")){return c(),"pfx"==t?h:!0}try{j.style[h]=o}catch(y){}if(j.style[h]!=g){return c(),"pfx"==t?h:!0}}}return c(),!1}function g(e,t,n,o,a){var i=e.charAt(0).toUpperCase()+e.slice(1),s=(e+" "+w.join(i+" ")+i).split(" ");return r(t,"string")||r(t,"undefined")?h(s,t,o,a):(s=(e+" "+_.join(i+" ")+i).split(" "),u(s,t,n))}function v(e,t,r){return g(e,n,n,t,r)}var y=[],C=[],E={_version:"3.3.1",_config:{classPrefix:"",enableClasses:!0,enableJSClass:!0,usePrefixes:!0},_q:[],on:function(e,t){var n=this;setTimeout(function(){t(n[e])},0)},addTest:function(e,t,n){C.push({name:e,fn:t,options:n})},addAsyncTest:function(e){C.push({name:null,fn:e})}},Modernizr=function(){};Modernizr.prototype=E,Modernizr=new Modernizr;var S=t.documentElement,b="svg"===S.nodeName.toLowerCase(),x="Moz O ms Webkit",w=E._config.usePrefixes?x.split(" "):[];E._cssomPrefixes=w;var _=E._config.usePrefixes?x.toLowerCase().split(" "):[];E._domPrefixes=_;b||!function(e,t){function n(e,t){var n=e.createElement("p"),r=e.getElementsByTagName("head")[0]||e.documentElement;return n.innerHTML="x<style>"+t+"</style>",r.insertBefore(n.lastChild,r.firstChild)}function r(){var e=C.elements;return"string"==typeof e?e.split(" "):e}function o(e,t){var n=C.elements;"string"!=typeof n&&(n=n.join(" ")),"string"!=typeof e&&(e=e.join(" ")),C.elements=n+" "+e,c(t)}function a(e){var t=y[e[g]];return t||(t={},v++,e[g]=v,y[v]=t),t}function i(e,n,r){if(n||(n=t),f){return n.createElement(e)}r||(r=a(n));var o;return o=r.cache[e]?r.cache[e].cloneNode():h.test(e)?(r.cache[e]=r.createElem(e)).cloneNode():r.createElem(e),!o.canHaveChildren||m.test(e)||o.tagUrn?o:r.frag.appendChild(o)}function s(e,n){if(e||(e=t),f){return e.createDocumentFragment()}n=n||a(e);for(var o=n.frag.cloneNode(),i=0,s=r(),l=s.length;l>i;i++){o.createElement(s[i])}return o}function l(e,t){t.cache||(t.cache={},t.createElem=e.createElement,t.createFrag=e.createDocumentFragment,t.frag=t.createFrag()),e.createElement=function(n){return C.shivMethods?i(n,e,t):t.createElem(n)},e.createDocumentFragment=Function("h,f","return function(){var n=f.cloneNode(),c=n.createElement;h.shivMethods&&("+r().join().replace(/[\w\-:]+/g,function(e){return t.createElem(e),t.frag.createElement(e),'c("'+e+'")'
})+");return n}")(C,t.frag)}function c(e){e||(e=t);var r=a(e);return !C.shivCSS||u||r.hasCSS||(r.hasCSS=!!n(e,"article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section{display:block}mark{background:#FF0;color:#000}template{display:none}")),f||l(e,r),e}var u,f,d="3.7.3",p=e.html5||{},m=/^<|^(?:button|map|select|textarea|object|iframe|option|optgroup)$/i,h=/^(?:a|b|code|div|fieldset|h1|h2|h3|h4|h5|h6|i|label|li|ol|p|q|span|strong|style|table|tbody|td|th|tr|ul)$/i,g="_html5shiv",v=0,y={};!function(){try{var e=t.createElement("a");e.innerHTML="<xyz></xyz>",u="hidden" in e,f=1==e.childNodes.length||function(){t.createElement("a");var e=t.createDocumentFragment();return"undefined"==typeof e.cloneNode||"undefined"==typeof e.createDocumentFragment||"undefined"==typeof e.createElement}()}catch(n){u=!0,f=!0}}();var C={elements:p.elements||"abbr article aside audio bdi canvas data datalist details dialog figcaption figure footer header hgroup main mark meter nav output picture progress section summary template time video",version:d,shivCSS:p.shivCSS!==!1,supportsUnknownElements:f,shivMethods:p.shivMethods!==!1,type:"default",shivDocument:c,createElement:i,createDocumentFragment:s,addElements:o};e.html5=C,c(t),"object"==typeof module&&module.exports&&(module.exports=C)}("undefined"!=typeof e?e:this,t);var N={elem:s("modernizr")};Modernizr._q.push(function(){delete N.elem});var j={style:N.elem.style};Modernizr._q.unshift(function(){delete j.style}),E.testAllProps=g,E.testAllProps=v,Modernizr.addTest("flexbox",v("flexBasis","1px",!0)),o(),a(y),delete E.addTest,delete E.addAsyncTest;for(var k=0;k<Modernizr._q.length;k++){Modernizr._q[k]()}e.Modernizr=Modernizr}(window,document);
        //]]>
    </script>
    <link rel="apple-touch-icon" type="image/png" href="./build/imgs/apple-touch-icon-72x72-1b4c2b319595c5eca0920f58b593228992a06dd1df8d4bb61ae70fb0b82e274b.png" sizes="72x72" />
    <link rel="apple-touch-icon" type="image/png" href="./build/imgs/apple-touch-icon-114x114-98e7618233154ca9312469713264e33078bbc686269017b337edc98a60521f7e.png" sizes="114x114" />
    <link rel="apple-touch-icon" type="image/png" href="./build/imgs/apple-touch-icon-144x144-0236f0315f872d6cc16cda122fcdd464aeb823a376e1919390b425c6c4f153c0.png" sizes="144x144" />
    <link rel="icon" type="image/png" href="./build/imgs/apple-touch-icon-b06a2da26ff9f31c003469ba0063a247f90385a960064b3440dc4f69451b3b18.png" sizes="192x192" />
<body>
<div class="side-drawer">
    <ul class="side-drawer__nav">
        <li class="side-drawer__item">
            <a class="side-drawer__link" href="/agenda">议题</a>
        </li>
        <li class="side-drawer__item">
            <a class="side-drawer__link" href="/events">会议</a>
        </li>
        <li class="side-drawer__item">
            <a class="side-drawer__link" href="/reports">报告</a>
        </li>
        <li class="side-drawer__item">
            <a class="side-drawer__link" href="/global-challenges">项目</a>
        </li>
        <li class="side-drawer__item">
            <a class="side-drawer__link" href="/about/our-mission">关于</a>
            <ul class="side-drawer__sublinks">
                <li class="side-drawer__sublink">
                    <a href="/about/our-mission">我们的使命</a>
                </li>
                <li class="side-drawer__sublink">
                    <a href="/about/communities">我们的社区</a>
                </li>
                <li class="side-drawer__sublink">
                    <a href="/about/our-members-partners">我们的会员与伙伴</a>
                </li>
                <li class="side-drawer__sublink">
                    <a href="/about/leadership-and-governance">领导团队</a>
                </li>
                <li class="side-drawer__sublink">
                    <a href="/about/our-history">我们的历史</a>
                </li>
                <li class="side-drawer__sublink">
                    <a href="/about/contact-us">联系我们 </a>
                </li>
                <li class="side-drawer__sublink">
                    <a href="/about/press">媒体</a>
                </li>
                <li class="side-drawer__sublink">
                    <a href="/about/career-opportunities">职业机会</a>
                </li>
                <li class="side-drawer__sublink">
                    <a href="/about/775175ff-9f09-45f1-b552-0a8c437b4847">声明</a>
                </li>
                <li class="side-drawer__sublink">
                    <a href="/about/privacy-and-terms-of-use">隐私和使用条款</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="side-secondary-nav">
        <li><a href="http://www.nnn.li/">English</a></li>
        <li><a href="https://nnn.li/espanol/">Español</a></li>
        <li><a href="http://www.nnn.li/">日本語</a></li>
        <!--<li class="drawer-toplink-container">
            <a href="https://toplink.nnn.li/">
                <div class="drawer-toplink-button">
                    登录到Toplink
                </div>
            </a>
        </li>-->
    </ul>
</div>
<div class="side-drawer__close"></div>
<div id="cookie-policy" class="cookie-policy">
    <div class="row">
        <div class="small-12 columns cookie-policy__container">
            <div id="cookie-policy-dismiss" class="cookie-policy__dismiss"></div>
            <div class="cookie-policy__message">我们正使用cookies为您提供浏览我们网站的最佳体验。如需继续浏览我们的网页，您需同意我们继续使用cookies</div>
        </div>
    </div>
</div>
<div class="content-container">
<header>
    <div class="row nav">
        <ul class="header-container">
            <a class="drawer-icon js-show-hide-menu">
                <img src="./build/imgs/hamburger-d4a8924e2554b1c8a9206e72c97a44cc624d3da299ccb9e9d4a2a8ef37e76f72.svg" alt="Hamburger" />
            </a>
            <li class="header-item logo">
                <a href="/"><img class="header-wef__logo" src="./build/imgs/logo-d8b23e233f85a1af9093a1946e18cff462b0ca82fcd720e2a9633270e53a0bcd.svg" alt="Logo" /></a>
            </li>

            <div class="header-pane-selectors">
                <li class="header-pane" data-pane="agenda">
                    <a class="header-item__link" href="/agenda">议题</a>
                </li>
                <li class="header-pane" data-pane="events">
                    <a class="header-item__link" href="/events">会议</a>
                </li>
                <li class="header-pane" data-pane="reports">
                    <a class="header-item__link" href="/reports">报告</a>
                </li>
                <li class="header-pane" data-pane="projects">
                    <a class="header-item__link" href="/global-challenges">项目</a>
                </li>
                <li class="header-pane" data-pane="about">
                    <a class="header-item__link" href="/about/our-mission">关于</a>
                </li>
            </div>
            <!--
            <div class="header-secondary-links">
                <li class="header-item">
                    <a class="header-item__link toplink" href="https://nnn.li/">
                        <div class="header-toplink-button">
                            登录到Toplink
                        </div>
                    </a>
                </li>
                <li class="header-item">
                    <a class="header-item__link" href="http://nnn.li/">English</a>
                </li>
                <li class="header-item">
                    <a class="header-item__link" href="http://nnn.li/">日本語</a>
                </li>
            </div>
            -->
        </ul>
    </div>
</header>
<div class="meganav-container">
    <div class="meganav-content" data-pane="agenda">
        <div class="agenda meganav-content__description">
    <div class="row">
        <div class="small-5 columns subpane-navigation">
            <span class="subpane-navigation__item" data-subpane="global">全球性</span>
            <span class="subpane-navigation__item" data-subpane="regional">地区性</span>
            <span class="subpane-navigation__item" data-subpane="industry">行业性</span>
        </div>
        <div class="small-7 columns description">
            分享塑造全球、区域与行业议程的各方观点
        </div>
    </div>
</div>
            <div class="row meganav-agenda-subpane" data-subpane="global">
                <div class="columns">
                    <div class="tout-list tout-list--grid tout-list--grid-">
                        <div class="tout-list--grid__container">
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_45AmZZ8RSbjiXet1VO2Q3a2PJbCRepdIp_NOBm815jc.jpeg" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_45AmZZ8RSbjiXet1VO2Q3a2PJbCRepdIp_NOBm815jc.jpeg" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">它竟然是世界上最环保、最幸福的国家！</h3>
                                    </div>
                                </a>
                            </article>
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="/agenda/2016/08/386c03df-5de0-4fe4-8efe-ef381b76a42a">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_UNAZ-oKq9Vvd-zcaRuQj16JwIKgLyFdgq-APcuI5zoM.png" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_UNAZ-oKq9Vvd-zcaRuQj16JwIKgLyFdgq-APcuI5zoM.png" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">现在才八月，可我们已经把今年的自然资源都用完了！</h3>
                                    </div>
                                </a>
                            </article>
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="/agenda/2016/08/ac3f9324-60af-4aa4-820a-6429ef40bc3c">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small__mXCeQqgPmmTFWA7oYDW0ODWrDtcdIH4jNVxcLahs9Q.jpg" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny__mXCeQqgPmmTFWA7oYDW0ODWrDtcdIH4jNVxcLahs9Q.jpg" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">全球化使我们的经济更容易受到气候变化的影响</h3>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row meganav-agenda-subpane" data-subpane="regional">
                <div class="columns">
                    <div class="tout-list tout-list--grid tout-list--grid-">
                        <div class="tout-list--grid__container">
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="/agenda/2016/08/7f95c280-fc9b-4361-9ecd-1c1375323350">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_7RZtCW95iJSTplcLxAQolo-s2C8Ii2HVQkE8pU7vl78.jpg" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_7RZtCW95iJSTplcLxAQolo-s2C8Ii2HVQkE8pU7vl78.jpg" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">企业应当如何应对中国水危机？</h3>
                                    </div>
                                </a>
                            </article>
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="/agenda/2016/07/2680b551-a7e0-4c9e-be13-15375cadefa0">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small__1OdK_McqnkTwaboFkI8HStpelz2K344mXA4WtwhZHM.png" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny__1OdK_McqnkTwaboFkI8HStpelz2K344mXA4WtwhZHM.png" alt="Tiny  1odk" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">中国惊艳全球科学界的五大超级工程</h3>
                                    </div>
                                </a>
                            </article>
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="/agenda/2016/07/3eef766a-53a6-40fb-b8bc-c0203150eb05">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_0GwiKx--9OopQL6NZNLPBniSZ1ekThSR9n0LqOrRJ_s.png" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_0GwiKx--9OopQL6NZNLPBniSZ1ekThSR9n0LqOrRJ_s.png" alt="Tiny 0gwikx s" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">中国视角：怎样教孩子们创新？</h3>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row meganav-agenda-subpane" data-subpane="industry">
                <div class="columns">
                    <div class="tout-list tout-list--grid tout-list--grid-">
                        <div class="tout-list--grid__container">
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="/agenda/2016/07/8c58bf51-abe3-4be4-b8d0-8f7bb6dc073c">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_OrtOlg3_8ifmr5gYy2U12Rk5r7PnHDLBEPqKHusHjto.jpeg" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_OrtOlg3_8ifmr5gYy2U12Rk5r7PnHDLBEPqKHusHjto.jpeg" alt="Tiny ortolg3" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">雾霾变钻石的魔法在中国真的存在！</h3>
                                    </div>
                                </a>
                            </article>
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="/agenda/2016/06/Music-Industry">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_iwqURiQ6HZ3qJwXlZePBltHV4hnHfygU2QpwUhWdYCY.jpg" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_iwqURiQ6HZ3qJwXlZePBltHV4hnHfygU2QpwUhWdYCY.jpg" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">再次颠覆音乐产业的三大科技趋势</h3>
                                    </div>
                                </a>
                            </article>
                            <article class="tout tout--default tout--article">
                                <a class="tout__link" href="/agenda/2016/06/emerging-tech-2016">
                                    <figure class="placeholder small">
                                        <img class="image" alt="" src="./build/imgs/upload/small_dJVuqfJqWN2rs2k9Vs5nCjuo0Wr9HgZRFzwUQo9ca0w.png" />
                                        <img class="tiny-fallback" src="./build/imgs/upload/tiny_dJVuqfJqWN2rs2k9Vs5nCjuo0Wr9HgZRFzwUQo9ca0w.png" alt="Tiny" />
                                    </figure>
                                    <div class="tout__details">
                                        <div class="tout__topic caption"></div>
                                        <h3 class="tout__title">2016年度十大新兴技术</h3>
                                    </div>
                                </a>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <div class="meganav-section-end">
                        <a href="/agenda"> <span>阅读全文</span> <img src="./build/imgs/link-arrow-9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc.svg" alt="Link arrow" /> </a>
                    </div>
                </div>
            </div>
    </div>
    <div class="meganav-content" data-pane="events">
        <div class="meganav-content__description">
            <div class="row">
                <div class="small-12 columns">
                    论坛会议与活动：推动全球、区域与行业议程设定
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-6 columns">
                <div class="mega-list-group__header">
                    <span>会议预告</span>
                </div>
                <div class="mega-event-summary">
                    <div class="gutter-marking"></div>
                    <article class="tout tout--default tout--event">
                        <a class="tout__link" href="/events/india-economic-summit-2016">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="./build/imgs/upload/small_v0yPkGokoelOFh0r_E_7AAPtHUVJzRJ6Ic0us4LLDFM.jpeg" />
                                <img class="tiny-fallback" src="./build/imgs/upload/tiny_v0yPkGokoelOFh0r_E_7AAPtHUVJzRJ6Ic0us4LLDFM.jpeg" alt="Tiny v0ypkgokoelofh0r e 7aapthuvjzrj6ic0us4lldfm" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2016年印度经济峰会</h3>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span>6-7 October 2016</span>
                                        <span>New Delhi, India</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
            <div class="small-6 columns">
                <div class="mega-list-group__header">
                    <span>会议回顾</span>
                </div>
                <article class="tout tout--mini tout--event">
                    <a class="tout__link" href="">
                        <figure class="placeholder tiny">
                            <img class="image" alt="" src="./build/imgs/upload/tiny__BvRhZ2lihcEJ7S_ISGzLJrNTOnX1GVqV2MCppoEu5I.jpeg" />
                            <img class="tiny-fallback" src="./build/imgs/upload/tiny__BvRhZ2lihcEJ7S_ISGzLJrNTOnX1GVqV2MCppoEu5I.jpeg" alt="Tiny  bvrhz2lihcej7s isgzljrntonx1gvqv2mcppoeu5i" />
                        </figure>
                        <div class="tout__details">
                            <h3 class="tout__title">2016年新领军者年会</h3>
                            <div class="tout__meta">
                                <div class="caption">
                                    <span>26-28 June 2016</span>
                                    <span>Tianjin, People's Republic of China</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tout tout--mini tout--event">
                    <a class="tout__link" href="/events/world-economic-forum-on-latin-america-2016">
                        <figure class="placeholder tiny">
                            <img class="image" alt="" src="./build/imgs/upload/tiny_nrFCoW6lrUmoiwn2lgbiPmSyh03XuSxyYj_6PMIAE5w.jpeg" />
                            <img class="tiny-fallback" src="./build/imgs/upload/tiny_nrFCoW6lrUmoiwn2lgbiPmSyh03XuSxyYj_6PMIAE5w.jpeg" alt="Tiny nrfcow6lrumoiwn2lgbipmsyh03xusxyyj 6pmiae5w" />
                        </figure>
                        <div class="tout__details">
                            <h3 class="tout__title">2016年世界经济论坛拉美峰会</h3>
                            <div class="tout__meta">
                                <div class="caption">
                                    <span>16-17 June 2016</span>
                                    <span>Medellin, Colombia</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
                <article class="tout tout--mini tout--event">
                    <a class="tout__link" href="/events/world-economic-forum-on-asean-2016">
                        <figure class="placeholder tiny">
                            <img class="image" alt="" src="./build/imgs/upload/tiny_m4-_hzNRBbF8UePbfZEdPR8gr0hnIXJjExxTjId_e98.jpeg" />
                            <img class="tiny-fallback" src="./build/imgs/upload/tiny_m4-_hzNRBbF8UePbfZEdPR8gr0hnIXJjExxTjId_e98.jpeg" alt="Tiny m4  hznrbbf8uepbfzedpr8gr0hnixjjexxtjid e98" />
                        </figure>
                        <div class="tout__details">
                            <h3 class="tout__title">2016年世界经济论坛东亚峰会</h3>
                            <div class="tout__meta">
                                <div class="caption">
                                    <span>1-2 June 2016</span>
                                    <span>Kuala Lumpur, Malaysia</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="meganav-section-end">
                    <a href="/events"> <span>更多会议</span> <img src="./build/imgs/link-arrow-9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc.svg" alt="Link arrow 9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc" /> </a>
                </div>
            </div>
        </div>
    </div>
    <div class="meganav-content" data-pane="reports">
        <div class="meganav-content__description">
            <div class="row">
                <div class="small-12 columns">
                    论坛报告：开展广泛研究，关注全球性重点议题
                </div>
            </div>
        </div>
        <div class="row">
            <div class="columns">
                <div class="tout-list tout-list--grid">
                    <div class="tout-list--grid__container">
                        <article class="tout tout--default tout--report">
                            <a class="tout__link" href="/reports/global-information-technology-report-2016">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="./build/imgs/upload/small_Fj6nmCOpBdTUtJSeyCYAZNVa8kSd-WBQbKt3hkFemJ8.jpg" />
                                    <img class="tiny-fallback" src="./build/imgs/upload/tiny_Fj6nmCOpBdTUtJSeyCYAZNVa8kSd-WBQbKt3hkFemJ8.jpg" alt="Tiny fj6nmcopbdtutjseycyaznva8ksd wbqbkt3hkfemj8" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">2016年全球信息技术报告</h3>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span>1 Jul 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--report">
                            <a class="tout__link" href="/reports/human-capital-report-2016">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="./build/imgs/upload/small_Z1x0Cv-SU1vMvLBPz7x1jCtNsrcLVPQiM4diqsI0Y58.JPG" />
                                    <img class="tiny-fallback" src="./build/imgs/upload/tiny_Z1x0Cv-SU1vMvLBPz7x1jCtNsrcLVPQiM4diqsI0Y58.JPG" alt="Tiny z1x0cv su1vmvlbpz7x1jctnsrclvpqim4diqsi0y58" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">2016年人力资本报告</h3>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span>15 Jun 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                        <article class="tout tout--default tout--report">
                            <a class="tout__link" href="/reports/the-future-of-jobs">
                                <figure class="placeholder small">
                                    <img class="image" alt="" src="./build/imgs/upload/small_4QQCJrfsnv_rbX4Y2eaarz-wP7tG6x5LQLkPZk8joAQ.png" />
                                    <img class="tiny-fallback" src="./build/imgs/upload/tiny_4QQCJrfsnv_rbX4Y2eaarz-wP7tG6x5LQLkPZk8joAQ.png" alt="Tiny 4qqcjrfsnv rbx4y2eaarz wp7tg6x5lqlkpzk8joaq" />
                                </figure>
                                <div class="tout__details">
                                    <h3 class="tout__title">未来就业报告</h3>
                                    <div class="tout__meta">
                                        <div class="caption">
                                            <span>18 Jan 2016</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="meganav-section-end">
                    <a href="/reports"> <span>更多报告</span> <img src="./build/imgs/link-arrow-9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc.svg" alt="Link arrow" /> </a>
                </div>
            </div>
        </div>
    </div>
    <div class="meganav-content" data-pane="projects">
        <div class="meganav-content__description">
            <div class="row">
                <div class="small-12 columns">
                    论坛项目：促进公私合作，应对最紧迫的全球性挑战
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <div class="gutter-marking"></div>
                <div class="mega-list-group__header">
                    <span class="list-group__title">“应对全球挑战”行动倡议</span>
                </div>
                <ul class="mega-list-group">
                    <li class="mega-list-group__item"> <a href="/global-challenges/future-of-the-internet">互联网的未来</a> </li>
                    <li class="mega-list-group__item"> <a href="/global-challenges/gender-parity">全球性别平等</a> </li>
                    <li class="mega-list-group__item"> <a href="/global-challenges/future-of-the-global-financial-system">全球金融体系的未来</a> </li>
                    <li class="mega-list-group__item"> <a href="/global-challenges/food-security-and-agriculture">农业与粮食安全</a> </li>
                    <li class="mega-list-group__item"> <a href="/global-challenges/international-trade-and-investment">国际贸易与投资</a> </li>
                    <li class="mega-list-group__item"> <a href="/global-challenges/employment-skills-and-human-capital">就业、技能与人力资本</a> </li>
                    <li class="mega-list-group__item"> <a href="/global-challenges/environment-and-resource-security">环境与资源安全</a> </li>
                    <li class="mega-list-group__item"> <a href="/global-challenges/economic-growth-and-social-inclusion">经济增长与社会包容</a> </li>
                    <li class="mega-list-group__item"> <a href="/global-challenges/long-term-investing-infrastructure-and-development">长期投资、基础设施与经济发展</a> </li>
                </ul>
            </div>
            <div class="small-8 columns">
                <div class="mega-list-group__header">
                    <span class="list-group__title">最新活动</span>
                </div>
                <div class="row">
                    <div class="columns">
                        <div class="tout-list tout-list--grid tout-list--grid-x2">
                            <div class="tout-list--grid__container">
                                <article class="tout tout--default tout--project">
                                    <a class="tout__link" href="">
                                        <figure class="placeholder small">
                                            <img class="image" alt="" src="./build/imgs/upload/fallback-small-cb8992567b66198e106a34e94fe769afd604a00c5b62e618c98a5e86ea27905b.png" />
                                            <img class="tiny-fallback" src="./build/imgs/upload/fallback-tiny-8cd872b56c710adb83ae38eb2116e34dee65b06883fa029367b994d5d9348447.png" alt="Fallback tiny" />
                                        </figure>
                                        <div class="tout__details">
                                            <div class="tout__topic caption"></div>
                                            <h3 class="tout__title">The Future of Jobs</h3>
                                        </div>
                                    </a>
                                </article>
                                <article class="tout tout--default tout--project">
                                    <a class="tout__link" href="">
                                        <figure class="placeholder small">
                                            <img class="image" alt="" src="./build/imgs/upload/small_yOlmD6caMEx5c1Jvxz-1D1oqelULlyEw9tspy0j783g.jpeg" />
                                            <img class="tiny-fallback" src="./build/imgs/upload/tiny_yOlmD6caMEx5c1Jvxz-1D1oqelULlyEw9tspy0j783g.jpeg" alt="Tiny" />
                                        </figure>
                                        <div class="tout__details">
                                            <div class="tout__topic caption"></div>
                                            <h3 class="tout__title">Promoting Global Financial Inclusion</h3>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <div class="meganav-section-end">
                    <a href="/global-challenges"> <span>更多项目</span> <img src="./build/imgs/link-arrow-9adfe464cd987bc5b3097b1218678552fcdd94a3e6cb7b3664bd1f75205873cc.svg" alt="Link arrow" /> </a>
                </div>
            </div>
        </div>
    </div>
    <div class="meganav-content meganav-content--tall" data-pane="about">
        <div class="meganav-content__description">
            <div class="row">
                <div class="small-12 columns">
                    致力于改善全球状况
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-4 columns">
                <div class="gutter-marking"></div>
                <div class="mega-list-group__header">
                    <span class="list-group__title">关于我们</span>
                </div>
                <ul class="mega-list-group">
                    <li class="mega-list-group__item"> <a href="/about/our-mission">我们的使命</a> </li>
                    <li class="mega-list-group__item"> <a href="/about/communities">我们的社区</a> </li>
                    <li class="mega-list-group__item"> <a href="/about/our-members-partners">我们的会员与伙伴</a> </li>
                    <li class="mega-list-group__item"> <a href="/about/leadership-and-governance">领导团队</a> </li>
                    <li class="mega-list-group__item"> <a href="/about/our-history">我们的历史</a> </li>
                    <li class="mega-list-group__item"> <a href="/about/contact-us">联系我们 </a> </li>
                    <li class="mega-list-group__item"> <a href="/about/press">媒体</a> </li>
                    <li class="mega-list-group__item"> <a href="/about/career-opportunities">职业机会</a> </li>
                    <li class="mega-list-group__item"> <a href="/about/775175ff-9f09-45f1-b552-0a8c437b4847">声明</a> </li>
                    <li class="mega-list-group__item"> <a href="/about/privacy-and-terms-of-use">隐私和使用条款</a> </li>
                </ul>
            </div>
            <div class="small-8 columns">
                <div class="mega-list-group__header">
                    <span class="list-group__title">如何参与</span>
                </div>
                <div class="row">
                    <div class="columns">
                        <div class="tout-list tout-list--grid tout-list--grid-x2">
                            <div class="tout-list--grid__container">
                                <article class="tout tout--default tout--page">
                                    <a class="tout__link" href="/about/how-to-engage">
                                        <figure class="placeholder small">
                                            <img class="image" alt="" src="./build/imgs/upload/small_RwSyC4_HD2hYNRsuwyXVUM6rTAXJXFAAAc6vH69h9J8.jpg" />
                                            <img class="tiny-fallback" src="./build/imgs/upload/tiny_RwSyC4_HD2hYNRsuwyXVUM6rTAXJXFAAAc6vH69h9J8.jpg" alt="Tiny rwsyc4" />
                                        </figure>
                                        <div class="tout__details">
                                            <h3 class="tout__title">如何参与</h3>
                                        </div>
                                    </a>
                                </article>
                                <article class="tout tout--default tout--page">
                                    <a class="tout__link" href="/about/contact-us">
                                        <figure class="placeholder small">
                                            <img class="image" alt="" src="./build/imgs/upload/small_PsXgfRYxDz5WiNTQdqQi9K32ObkeSmzg-QaKGKMA36o.jpg" />
                                            <img class="tiny-fallback" src="./build/imgs/upload/tiny_PsXgfRYxDz5WiNTQdqQi9K32ObkeSmzg-QaKGKMA36o.jpg" alt="Tiny" />
                                        </figure>
                                        <div class="tout__details">
                                            <h3 class="tout__title">联系我们 </h3>
                                        </div>
                                    </a>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section>
    <div class="row page">
        <h1 class="page-title columns"> 报告 </h1>
        <div class="columns">
            <div class="tout-list tout-list--grid">
                <div class="tout-list--grid__container">
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/global-information-technology-report-2016">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_Fj6nmCOpBdTUtJSeyCYAZNVa8kSd-WBQbKt3hkFemJ8.jpg" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_Fj6nmCOpBdTUtJSeyCYAZNVa8kSd-WBQbKt3hkFemJ8.jpg" alt="Tiny fj6nmcopbdtutjseycyaznva8ksd wbqbkt3hkfemj8" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2016年全球信息技术报告</h3>
                                <p class="tout__description">The Global Information Technology Report 2016 features the latest iteration of the Networked Readiness Index, which assesses the factors, policies and institutions that enable a country t...</p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">1 Jul 2016</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/human-capital-report-2016">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_Z1x0Cv-SU1vMvLBPz7x1jCtNsrcLVPQiM4diqsI0Y58.JPG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_Z1x0Cv-SU1vMvLBPz7x1jCtNsrcLVPQiM4diqsI0Y58.JPG" alt="Tiny z1x0cv su1vmvlbpz7x1jctnsrclvpqim4diqsi0y58" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2016年人力资本报告</h3>
                                <p class="tout__description">The World Economic Forum’s Human Capital Report ranks 130 countries on how well they are developing and deploying their talent. The index takes a life-course approach to human capital, ev...</p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">15 Jun 2016</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/the-future-of-jobs">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_4QQCJrfsnv_rbX4Y2eaarz-wP7tG6x5LQLkPZk8joAQ.png" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_4QQCJrfsnv_rbX4Y2eaarz-wP7tG6x5LQLkPZk8joAQ.png" alt="Tiny 4qqcjrfsnv rbx4y2eaarz wp7tg6x5lqlkpzk8joaq" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">未来就业报告</h3>
                                <p class="tout__description">世界经济论坛发布《未来就业报告》，第四次工业革命的到来将会引发劳动力市场的巨大变革。在未来十五年内，传统职业的消失与新兴职业的产生将会成为第四次工业革命将要应对的真正挑战。 </p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">18 Jan 2016</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/global-risks-2016">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_l0yjMBX3OK7JHofCMgpZNmLaLq1O_rofRltDxX2gl8E.PNG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_l0yjMBX3OK7JHofCMgpZNmLaLq1O_rofRltDxX2gl8E.PNG" alt="Tiny l0yjmbx3ok7jhofcmgpznmlalq1o rofrltdxx2gl8e" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2016 年全球风险报告</h3>
                                <p class="tout__description">世界经济论坛《2016年全球风险报告》显示，新的一年中，无论从环境、社会、经济、地缘政治还是技术方面看，各种风险的发生概率都在上升，并必将对未来 全球议程产生重要影响。 </p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">14 Jan 2016</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/global-energy-architecture-performance-index-report-2016">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_IJIcwAdCepmC4cv9sreL9KjzgJcq7OjXK2ciohPBKcw.PNG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_IJIcwAdCepmC4cv9sreL9KjzgJcq7OjXK2ciohPBKcw.PNG" alt="Tiny ijicwadcepmc4cv9srel9kjzgjcq7ojxk2ciohpbkcw" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">全球能源架构绩效指数报告</h3>
                                <p class="tout__description">《2016 年全球能源架构绩效指数报告》于今天正式发布，该报告从能源安全、可负担性和可持续性三个角度 对 126 个国家进行了排名。 </p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">1 Jan 2016</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/global-gender-gap-report-2015">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_37lE6_D8ChkDI0Doh84lJ2fXHFMROiC-wFVbafJyArA.PNG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_37lE6_D8ChkDI0Doh84lJ2fXHFMROiC-wFVbafJyArA.PNG" alt="Tiny 37le6 d8chkdi0doh84lj2fxhfmroic wfvbafjyara" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2015年全球性别差距报告</h3>
                                <p class="tout__description">世界经济论坛《2015年全球性别差距报告》显示，女性目前薪酬水平仅相当于十年前的男性收入。</p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">18 Nov 2015</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/top-ten-urban-innovations">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_MccewuUcY218S1u4NNEq9tNc5E-_wzA8gJ_VstHDR50.PNG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_MccewuUcY218S1u4NNEq9tNc5E-_wzA8gJ_VstHDR50.PNG" alt="Tiny mccewuucy218s1u4nneq9tnc5e  wza8gj vsthdr50" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">十大城市创新</h3>
                                <p class="tout__description">世界经济论坛都市未来理事会发布的《十大城市创新》报告为城市治理者提供了新颖的解决思路。</p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">24 Oct 2015</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/global-competitiveness-report-2015">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_s841pvqxUPcEYRD4S5ciaKI_67s3O5HCe4L7YUZKHcE.PNG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_s841pvqxUPcEYRD4S5ciaKI_67s3O5HCe4L7YUZKHcE.PNG" alt="Tiny s841pvqxupceyrd4s5ciaki 67s3o5hce4l7yuzkhce" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2015-2016年全球竞争力报告 </h3>
                                <p class="tout__description">世界经济论坛《2015-2016年全球竞争力报告》对全球140个经济体在促进生产力发展与社会繁荣方面的 “全球竞争力指数”进行考量与排名。</p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">29 Sep 2015</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/human-capital-report-2015">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_fAi3Cz94d7hGpD6ToKBtHlkD9BwUVt4FYXZAQw8wSA4.PNG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_fAi3Cz94d7hGpD6ToKBtHlkD9BwUVt4FYXZAQw8wSA4.PNG" alt="Tiny fai3cz94d7hgpd6tokbthlkd9bwuvt4fyxzaqw8wsa4" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2015年人力资本报告</h3>
                                <p class="tout__description">世界经济论坛发布的《人力资本报告》发现，充分释放人力资源可使全球GDP提高20%。</p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">13 May 2015</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/travel-and-tourism-competitiveness-report-2015">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_EIweg507EXpdcuJuUo-5E7OgmQxT6tsxve7vx7hn800.PNG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_EIweg507EXpdcuJuUo-5E7OgmQxT6tsxve7vx7hn800.PNG" alt="Tiny eiweg507expdcujuuo 5e7ogmqxt6tsxve7vx7hn800" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2015年旅游业竞争力报告</h3>
                                <p class="tout__description">世界经济论坛2015年最新发布的《旅游业竞争力报告》显示，西班牙成为全球旅游竞争力最强国，这是该国首次在这份旅游业双年报告中摘得桂冠，被视为经济复苏的积极信号。</p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">1 May 2015</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/emerging-best-practices-of-chinese-globalizers-develop-the-innovation-model">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_fFSJObb27N_UDlveCOXXSWziU9-yK9yp_DqrCAUxy9M.PNG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_fFSJObb27N_UDlveCOXXSWziU9-yK9yp_DqrCAUxy9M.PNG" alt="Tiny ffsjobb27n udlvecoxxswziu9 yk9yp dqrcauxy9m" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">中国企业全球化最佳实践：制定创新模式</h3>
                                <p class="tout__description">从“中国制造”到“中国创造”，创新已成为中国企业海外拓展过程中的核心战略。</p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">21 Apr 2015</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                    <article class="tout tout--default tout--report">
                        <a class="tout__link" href="/reports/global-information-technology-report-2015">
                            <figure class="placeholder small">
                                <img class="image" alt="" src="https://assets-cn.weforum.org/report/image/small_x1vNKAaHHMeHxzqgFHuJXCfgFML1Q62wa4zBxf_G-n0.PNG" />
                                <img class="tiny-fallback" src="https://assets-cn.weforum.org/report/image/tiny_x1vNKAaHHMeHxzqgFHuJXCfgFML1Q62wa4zBxf_G-n0.PNG" alt="Tiny x1vnkaahhmehxzqgfhujxcfgfml1q62wa4zbxf g n0" />
                            </figure>
                            <div class="tout__details">
                                <h3 class="tout__title">2015年全球信息技术报告</h3>
                                <p class="tout__description">世界经济论坛今日发布的《2015 年全球信息技术报告》显示，新加坡在运用信息通讯技术（ICT）推动社会经济发展方面排名全球第一。 </p>
                                <div class="tout__meta">
                                    <div class="caption">
                                        <span class="article__published-at">15 Apr 2015</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </article>
                </div>
            </div>
        </div>
        <div class="pagination__container">
    <div class="pagination__direction direction-previous">
        <div class="pagination__nav-text">
            上一页
        </div>
    </div>
    <div class="pagination__page-info">
        1/2
    </div>
    <a rel="next" class="pagination__direction direction-next" href="/agenda/global?page=2">
        <div class="pagination__nav-text">
            下一页
        </div>
    </a>
</div>
    </div>
</section>
<footer>
    <div class="footer__wrapper">
        <div class="row">
            <div class="footer__newsletter">
                <div class="newsletter">
                    <div class="newsletter__callout">
                        <b>订阅最新动态</b>
                        <div class="newsletter__callout__description">全球议题一周更新</div>
                    </div>
                    <form action="" method="post" target="_blank" class="footer__form">
                        <div class="newsletter__form__field">
                            <input type="email" name="EMAIL" placeholder="电子邮箱" class="footer__form__input">
                            <input type="submit" value="订阅" name="subscribe" class="footer__form__submit">
                        </div>
                    </form>
                </div>
            </div>

            <div class="footer__socialmedia">
                <div class="footer__socialmedia-title">关注我们</div>
                <div class="footer__socialmedia-group">
                    <a href="" class="social-share--linkedin" target="_blank"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="footer__list-group">
            <div class="list-group">
                <div class="list-group__header">
                    <span>关于</span>
                </div>
                <div class="list-group__items">
                    <div class="list-group__item">
                        <a href="/about/our-mission">我们的使命</a>
                    </div>
                    <div class="list-group__item">
                        <a href="/about/communities">我们的社区</a>
                    </div>
                    <div class="list-group__item">
                        <a href="/about/our-members-partners">我们的会员与伙伴</a>
                    </div>
                    <div class="list-group__item">
                        <a href="/about/leadership-and-governance">领导团队</a>
                    </div>
                    <div class="list-group__item">
                        <a href="/about/our-history">我们的历史</a>
                    </div>
                    <div class="list-group__item">
                        <a href="/about/contact-us">联系我们 </a>
                    </div>
                    <div class="list-group__item">
                        <a href="/about/press">媒体</a>
                    </div>
                    <div class="list-group__item">
                        <a href="/about/career-opportunities">职业机会</a>
                    </div>
                    <div class="list-group__item">
                        <a href="/about/775175ff-9f09-45f1-b552-0a8c437b4847">声明</a>
                    </div>
                    <div class="list-group__item">
                        <a href="/about/privacy-and-terms-of-use">隐私和使用条款</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__list-group">
            <div class="list-group">
                <div class="list-group__header">
                    <span>媒体</span>
                </div>
                <div class="list-group__items">
                    <div class="list-group__item">
                        <a href="/press/">新闻</a>
                    </div>
                    <div class="list-group__item">
                        <a href="">许可</a>
                    </div>
                    <div class="list-group__item">
                        <a href="" target="_blank">订阅我们的新闻</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__list-group">
            <div class="list-group">
                <div class="list-group__header">
                    <span>会员和合作伙伴</span>
                </div>
                <div class="list-group__items">
                    <div class="list-group__item">
                        <a href="https://toplink.nnn.li/">会员登录Toplink</a>
                    </div>
                    <div class="list-group__item">
                        <a href="https://toplink.nnn.li/">战略合作伙伴</a>
                    </div>
                    <div class="list-group__item">
                        <a href="https://toplink.nnn.li/">合作机构</a>
                    </div>
                </div>
            </div>
        </div>
         <!--
        <div class="footer__list-group">
            <div class="list-group">
                <div class="list-group__header">
                    <span>全球站点</span>
                </div>
                <div class="list-group__items">
                    <div class="list-group__item">
                        <a href="http://www.nnn.li/">English</a>
                    </div>
                    <div class="list-group__item">
                        <a href="https://agenda.nnn.li/espanol/">Español</a>
                    </div>
                    <div class="list-group__item">
                        <a href="http://www.weforum.jp/">日本語</a>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="footer__info-container">
                <div class="footer__info-group">
                    © 2016 世界经济论坛
                </div>
                <div class="footer__info-group">
                    <a href="/about/privacy-and-terms-of-use">隐私权政策和服务条款</a>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
</body>
</html>