<!doctype html>
<html class="no-js" lang="zh-CN" dir="ltr">

<% include module/head.ejs %>
<body>
<% include module/top.ejs %>
<% include html/index.html %>
<% include module/footer.ejs %>
</body>
</html>